<div class="mainContainer">

    <div class="editProfileContainer">

        <div class="topHeader">

            <div class="cancelNav">
                <span>Cancel</span>
            </div>

            <div class="formTitle">
                <span>{{title}}</span>
            </div>
            
            <div class="doneNav">
                <span>Done</span>
            </div>

        </div>

        <!-- Main Menu -->
        <div *ngIf='currentPage === "home"'>
          <div  class="field changedpRow"
                [routerLink]="['/', {outlets: {modal: 'edit/dp'}}]">

            <div class="dpSpace">
                <div class="dpContainer"></div>
            </div>

            <div  class="feildTitleText changedpTitle">
                <span>Change display picture</span>
            </div>

          </div>  

          <div  class="field editBioCol"
                [routerLink]="['/', {outlets: {modal: 'edit/bio'}}]">

              <div  class="feildTitleText editBioTitle">
                  <span>Edit Bio</span>
              </div>

              <div class="currentBio">
                  <span>{{bio}}</span>
              </div>

          </div>

          <div  class="field changeLinkCol"
                [routerLink]="['/', {outlets: {modal: 'edit/link'}}]">

              <div  class="feildTitleText editLinkTitle">
                  <span>Change Link</span>
              </div>

              <div class="currentBio">
                  <span>{{link}}</span>
              </div>

          </div>

          <div class="field changeDisplayStickerCol">

              <div  class="feildTitleText displayStickersTitle">
                  <span [routerLink]="['/', {outlets: {modal: 'edit/ds/0'}}]">Change Display Stickers</span>
              </div>

              <div class="stickers">     
                  
                  <div class="sticker">
                      
                          <img src= "assets/images/Edit Page/emptyStickerPlaceholder.svg">
                      
                  </div>

                  <div class="sticker">
                      <div class="stickerContainer"></div>
                  </div>

                  <div class="sticker">
                      <div class="stickerContainer"></div>
                  </div>

                  <div class="sticker">
                      <div class="stickerContainer"></div>
                  </div>

                  <div class="sticker">
                      <div class="stickerContainer"></div>
                  </div>

              </div>

          </div> 

        </div>

        <!-- Edit Bio Menu -->

        <!-- <div class="topHeader">

            <div class="cancelNav">
                <span>Cancel</span>
            </div>

            <div class="formTitle formTitleBioMenu">
                <span>Edit Bio</span>
            </div>
            
            <div class="doneNav doneNavBioMenu doneInactive">
                <span>Done</span>
            </div>

        </div> -->
       
        <router-outlet name="modal"></router-outlet>
        
    </div>

</div>
