<div class="mainContainer">

    <div class="editProfileContainer">

        <!-- <div class="topHeader">

            <div class="cancelNav">
                <span>Cancel</span>
            </div>

            <div class="formTitle">
                <span>Edit Profile</span>
            </div>
            
            <div class="doneNav">
                <span>Done</span>
            </div>

        </div> -->

        <!-- Main Menu -->

        <!-- <div class="feild changedpRow">

            <div class="dpSpace">
                <div class="dpContainer"></div>
            </div>

            <div class="feildTitleText changedpTitle">
                <span>Change display picture</span>
            </div>

        </div>

        <div class="feild editBioCol">

            <div class="feildTitleText editBioTitle">
                <span>Edit Bio</span>
            </div>

            <div class="currentBio">
                <span>praesentium voluptatum deleniti atque coreniti atque</span>
            </div>

        </div>

        <div class="feild changeLinkCol">

            <div class="feildTitleText editLinkTitle">
                <span>Change Link</span>
            </div>

            <div class="currentBio">
                <span>bit.biglink.ly/username</span>
            </div>

        </div>

        <div class="feild changeDisplayStickerCol">

            <div class="feildTitleText displayStickersTitle">
                <span>Change Display Stickers</span>
            </div>

            <div class="stickers">     
                
                <div class="sticker">
                    
                        <img src= "assets/images/Edit Page/emptyStickerPlaceholder.svg">
                    
                </div>

                <div class="sticker">
                    <div class="stickerContainer"></div>
                </div>

                <div class="sticker">
                    <div class="stickerContainer"></div>
                </div>

                <div class="sticker">
                    <div class="stickerContainer"></div>
                </div>

                <div class="sticker">
                    <div class="stickerContainer"></div>
                </div>

            </div>

        </div> -->

        <!-- Edit Bio Menu -->

        <!-- <div class="topHeader">

            <div class="cancelNav">
                <span>Cancel</span>
            </div>

            <div class="formTitle formTitleBioMenu">
                <span>Edit Bio</span>
            </div>
            
            <div class="doneNav doneNavBioMenu doneInactive">
                <span>Done</span>
            </div>

        </div>

        <div class="editBioSpace">
            <span>            accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum sunet 
            </span>
        </div>

        <div class="characterCounter">
            <span>89 CHARACTERS REMAINING</span>
        </div>

        <div class="errorPrompt">

        </div> -->

        <!-- Edit link Menu -->

        <!-- <div class="topHeader">

            <div class="cancelNav">
                <span>Cancel</span>
            </div>

            <div class="formTitle formTitleLinkMenu">
                <span>Change Link</span>
            </div>
            
            <div class="doneNav doneNavLinkMenu doneInactive">
                <span>Done</span>
            </div>

        </div>

        <div class="changeLinkFeild">

            <div class="changeLinkText">
                <span>bit.biglink.ly/username</span>
            </div>

        </div>

        <div class="errorPrompt">

        </div> -->

        <!-- Edit dpMenu -->
        
        <!-- <div class="topHeader">

            <div class="cancelNav">
                <span>Cancel</span>
            </div>

            <div class="formTitle formTitledpMenu">
                <span>Change Display Picture</span>
            </div>
            
            <div class="doneNav donedpMenu doneInactive">
                <span>Done</span>
            </div>

        </div>

        <app-display-picture-edit></app-display-picture-edit> -->

        <!-- Edit display stickers menu -->

        <div class="topHeader">

            <div class="cancelNav">
                <span>Cancel</span>
            </div>

            <div class="formTitle formTitleDisplayStickerMenu">
                <span>Change Display Picture</span>
            </div>
            
            <div class="doneNav doneDisplayStickerMenu doneInactive">
                <span>Done</span>
            </div>

        </div>

        <app-display-sticker-edit></app-display-sticker-edit>

    </div>

</div>
