label{
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 24px;
  color: #D8B869;
  width: 100%;
}

input,
input:focus,
textarea,
textarea:focus {
  font-family: 'ChampagneAndLimousines';
  font-size: 18px;
  color: #F7F7F7;
  border: 2px solid #D8B869;
  background: #131114;
  margin-bottom: 35px;
  border-radius: 10px;
  width: 100%;
}

.btn {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 24px;
  color: #D8B869;
  border: 2px solid #D8B869;
  background: #131114;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn:enabled:hover{
  background: #D8B869;
  color: #080708;
}

input.form-control.ng-invalid.ng-touched {
  border: 2px solid #891E13;
}

input.invalidAmount {
  border: 2px solid #891E13;
}


.form-control-file{
  border: 0px;
  background: #080708;
}

.form-control-file .btn {
  border: 2px solid #D8B869;
  background: #131114;
}

.file-input-container {
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-75px);
      -ms-transform: translate(-50%,-75px);
          transform: translate(-50%,-75px);
  width: 0px;
  height: 0px;
  opacity: 0;
}

.inputFields {
  width: 475px;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
}

.danger-alert {
  border: 2px solid #891E13;
  background: #131114;
  margin-bottom: 35px;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 18px;
  color:#891E13;
  width: 100%;
}

.uploadSuccess {
  color: #53BD9C;
  border: 2px solid #53BD9C;
}

.uploadFail {
  border: 2px solid #891E13;
}

.help-block {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 18px;
  color: #F7F7F7;
}

.stickerSelect {
  border: 2px solid #D8B869;
  border-radius: 20px;
  width: 100%;
  height: 377px;
  overflow-y: scroll;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.placeholder {
  color: #DCB65A;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sticker{
  border: 1px solid #707070;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.sticker img {
  padding: 0;
  margin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

li {
  padding: 0;
  background: transparent;
  margin-bottom: 5px;
}

.stickerTitle {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 18px;
  color: #F7F7F7;
}

.storySignifier {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: -o-linear-gradient(315deg,#DCB65A ,#131114 70%, transparent 90%);
  background-image: linear-gradient(135deg,#DCB65A ,#131114 70%, transparent 90%);
}

.dpBackground {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #080708;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(5px,5px);
      -ms-transform: translate(5px,5px);
          transform: translate(5px,5px);
}

.dpBorder {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 1px solid #707070;
  background:#080708;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(7px,7px);
      -ms-transform: translate(7px,7px);
          transform: translate(7px,7px);
}

.dpBorder img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.danger-alert {
  border: 2px solid #891E13;
  background: #131114;
  margin-bottom: 35px;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 18px;
  color:#891E13;
  width: 100%;
}

.collection-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) scale(0.7,0.7);
      -ms-transform: translate(-50%,-50%) scale(0.7,0.7);
          transform: translate(-50%,-50%) scale(0.7,0.7);
}

@media screen and (max-width: 560px) {
  .inputFields {
    width: 84.82vw;
  }
}

  


