<div class="exit-contianer" [routerLink]="['/', {outlets: {modal: null}}]"></div>

<div class="mainContainer">

    <div class="editProfileContainer">

        <div class="topHeader">

            <div class="cancelNav" (click)="onCancel();">
                <span>Cancel</span>
            </div>

            <div class="formTitle">
                <span>{{title}}</span>
            </div>
            
            <div  class="doneNav" 
                  [ngClass]="{'doneInactive': error}" 
                  (click)="onDone();">
                <span>Done</span>
            </div>

        </div>

        <!-- Main Menu -->
        <div *ngIf='currentPage === "home"'>
          <div  class="field changedpRow"
                [routerLink]="['/', {outlets: {modal: 'edit/dp/0'}}]">

            <div class="dpSpace">
                <div class="dpContainer">
                  <img *ngIf='displayPicture$ | async as content' [src]='content' alt='dp' appLazyImg>
                </div>
            </div>

            <div  class="feildTitleText changedpTitle">
                <span>Change display picture</span>
            </div>

          </div>  

          <div  class="field editBioCol"
                [routerLink]="['/', {outlets: {modal: 'edit/bio/0'}}]">

              <div  class="feildTitleText editBioTitle">
                  <span>Edit Bio</span>
              </div>

              <div class="currentBio">
                  <span>{{bio}}</span>
              </div>

          </div>

          <div  class="field changeLinkCol"
                [routerLink]="['/', {outlets: {modal: 'edit/link/0'}}]">

              <div  class="feildTitleText editLinkTitle">
                  <span>Change Link</span>
              </div>

              <div class="currentBio">
                  <span>{{link}}</span>
              </div>

          </div>

          <div class="field changeDisplayStickerCol">

              <div  class="feildTitleText displayStickersTitle" [routerLink]="['/', {outlets: {modal: 'edit/ds/4'}}]">
                  <span>Change Display Stickers</span>
              </div>

              <div class="stickers">     
                  
                  <div  class="sticker" 
                        *ngFor='let sticker of (profileStickers$ | async).stickers | reverse; let i = index; trackBy: trackByFn'
                        [routerLink]="['/', {outlets: {modal: 'edit/ds/' + i}}]">
                      
                      <img *ngIf='sticker === null' src= "assets/images/Edit Page/emptyStickerPlaceholder.svg">

                      <div class="stickerContainer" 
                           *ngIf='sticker != null'
                            [ngClass]='{"sticker-bck": sticker === "loading"}'>

                        <app-sticker *ngIf='sticker != "loading"' [pid]="sticker.pid" [overrideNavigate]='true'>
                        </app-sticker>

                      </div>

                    
                      
                  </div>

              </div>

          </div> 

        </div>
       
        <app-bio-edit *ngIf='currentPage === "bio"' 
                      [uid]='uid'
                      [bio]='bio' 
                      [save$]='save$' 
                      (unsavedChanges)='unsavedChanges = $event' 
                      (error)='error = $event'>
        </app-bio-edit>        
        <app-link-edit *ngIf='currentPage === "link"'></app-link-edit>        
        <app-display-picture-edit *ngIf='currentPage === "dp"'></app-display-picture-edit>        
        <app-display-stickers-edit *ngIf='currentPage === "ds"'></app-display-stickers-edit>        

    </div>

</div>
