/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.comment{
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 12px;
  color: #F7F7F7;
}

.Name {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 14px;
  color: #F7F7F7;
}
