.comment{
  font-family: 'Champagne & Limousines';
  font-weight: bold;
  font-size: 12px;
  color: #F7F7F7;
}

.Name {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 14px;
  color: #F7F7F7;
}

