/* NEW */
.fullHeader {
  width: 100%;
  height: 20vh;
}

.headerPosition {
  top: 0;
  position: fixed;
  height: 5.44vh;
  width: 100%;
  background: linear-gradient(90.65deg, #080708 28.65%, #121012 76.04%);
  box-shadow: 0px -0.5px 0px rgba(255, 255, 255, 0.16);

}

.headerLogo {
  font-size: 3.6vh;
  font-family: 'Comfortaa';
  color: #E2B33D;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: left;
  padding-left: 1.0vw;
}

.height {
  height: 5.44vh;
}

.col-3 > a > img, .col-3 > img {
  height: 2.66vh;
  width: auto;
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.col-3 > a > div {
  height: 2.66vh;
  width: 2.66vh;
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  overflow: hidden;
  border-radius: 50%;
}

.col-3 > a > div > img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.col-2 > a > img {
  height: 2.66vh;
  width: auto;
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.leftSymbols {
  padding-right: 1.944vw;
}

.loading-bar {
  border-top: 2px solid #D8B869;
  position: fixed;
  width: 90vw;
  animation-name: loadingAnim;
  animation-duration: 10s;
  animation-timing-function: linear;
}

@keyframes loadingAnim {
  from { width: 0; };
  to { width: 90vw; };
}

.dp-active {
  border: 1px solid #E2B33D;
}

.dp-inactive {
  border: 1px solid #ffffff;
}

.headerdropDown {
  position: fixed;
  height: 7.6vw;
  width: 7.7vw;
  top: 6.84vh;
  right: 1vw;
  font-family: 'ChampagneAndLimousines';
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: bold;
  text-align: left;
  padding-left: 1vw;
  background-color: rgba(196, 196, 196, 0.05);
  border-top: 1.5vh solid #E2B33D;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.8vh;
}

.extra-padding {
  padding-top: 1vw;
}

.headerdropDown > .row {
  padding-top: 1vw;
}


/* Animation */

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-top {

  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-out-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

  @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }

.active-dropdown {
  opacity: 1;
}

.inactive-dropdown {
  opacity: 0.8;
}

.headerdropDown > .row > .col-12:hover, .headerdropDown > .row > a > .col-12:hover {
  opacity: 1;
}
