
/* Classes for multiple components */

.no-margin-no-padding {

  margin: 0%;
  padding: 0%;

}


/* Classes for single components */

.header {

  top: 0%;
  left: 0%;
  width: 100%;
  height: 54px;
  position: fixed;

}

.headerBackpanel {

  width: 100%;
  height: 54px;
  background: #030303;

}

.headerLogo {
  height: 100%;
  width: 360px;
  text-align: center;
}

.logoRow {

  height: 100%;
  width: 100%;

}

.mainLogo {

  font-family: "Comfortaa";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #E2B33D;
  padding-left: 15px;
  padding-top: 11px;

}

.subLogo {



  font-family: "Assistant";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(235, 221, 187, 0.7);
  padding-top: 23px;
  padding-left: 2px;


}



.createButtonInactive {

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.createButtonActive {
  position: absolute;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}


.exploreButton {

  position: absolute;
  top: 50%;
  left: 88.020%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.activeexploreButton {
  position: absolute;
  bottom: 0%;
  left: 88.020%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.profileButton {

  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 93.159%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.activeprofileButton {
  top: unset;
  bottom: 0%;
}

.displayButton {
  display: none;
}

.dpContainer {

  position: absolute;
  height: 23px;
  width: 23px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  overflow: hidden;
}

.optionsButtonActive {

  position: absolute;
  bottom: 0%;
  left: 97.6597%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);

}

.optionsButtonInactive {

  position: absolute;
  top: 50%;
  left: 97.6597%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.dpContainer > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.headerDropdownBorder {

position: fixed;
height: 11.6667vh;
width: calc(11.6667vh * (155/105));
top: calc(5.334vh + 6vh);
right: 2.0vw;
border-radius: 8px;
background-color: #030303;
-webkit-transform: translateY(-1000px);
        -ms-transform: translateY(-1000px);
    transform: translateY(-1000px);
-webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
opacity: 0;

}



.dropdownText {

  height: 33.33333%;
  width: 100%;
  font-family: "Assistant";
  font-style: normal;
  font-weight: bold;
  font-size: 1.778vh;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  position: relative;


}

.Text {

  position: relative;
  top: 10%;
  left: 10%;

}

.extraPad {

  top: 28%;

}

.diffPadding {

  top: 12%;

}

.borderTop {

  border-top: 3px solid #000000;

}

.active-link {
  color: #E2B33D;
}

.loading-bar {
  border-top: 2px solid #E2B33D;
  position: fixed;
  top: 54px;
  width: 100vw;
  -webkit-animation-name: loadingAnim;
          animation-name: loadingAnim;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


/* Animation */

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-top {

  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-out-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

  @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }

  @-webkit-keyframes loadingAnim {
    from { width: 0; };
    to { width: 90vw; };
  }

  @keyframes loadingAnim {
    from { width: 0; };
    to { width: 90vw; };
  }


  @media only screen and (min-width: 550px) and (max-width: 950px) {

    .subLogo {
      display: none;
    }

    .displayButton {

      position: absolute;
      top: 50%;
      left: 82.881%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: block;

    }


}

  @media only screen and (max-width: 550px) {

    .header {

      bottom: 0%;
      top: unset;

    }

    .headerBackpanel {

      background: #000000;

    }

    .logoRow {

      display: none;

    }


    .exploreButton {

      position: absolute;
      top: 50%;
      left: 8%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);

    }

    .activeexploreButton {

      position: absolute;
      top: unset;
      bottom: 0%;
      left: 8%;
      -webkit-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);

    }

    .displayButton {

      position: absolute;
      top: 50%;
      left: 28.9855%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: block;

    }

    .profileButton {

      height: 25px;
      width: 25px;
      position: absolute;
      top: 50%;
      left: 71.014%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);

    }

    .activeprofileButton {
      bottom: 0%;
      left: 71.014%;
    }


    .optionsButtonActive {
      position: absolute;
      bottom: 0%;
      left: 92%;
      -webkit-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
    }

    .optionsButtonInactive {
      position: absolute;
      top: 50%;
      left: 92%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    .headerDropdownBorder {

      top: unset;
      bottom: calc(54px + 1vh);

    }

    .loading-bar {

      border-top: 5px solid #E2B33D;
      position: fixed;
      top: 0;

    }



  }





































