<div class = "headerDropdownBorder" [ngClass]='dropdown ? "slide-in-top" : "slide-out-top"'>



    <div class = "row dropdownText no-margin-no-padding">
      <a class = "Text extraPad" routerLink="/feedback" [routerLinkActive]='"active-link"'>
        <p >Feedback</p>
      </a>
    </div>

    <div class = "row dropdownText no-margin-no-padding">

      <p class = "Text" style='cursor: pointer'  [routerLink]="['/feedback']">Contact</p>

    </div>

    <div class = "row dropdownText borderTop no-margin-no-padding">

      <p  class = "Text diffPadding"
          (click)='clickAuth()'
          [ngClass]='{"active-link": parentRoute === "auth"}'
          style='cursor: pointer'>

            {{isAuthenticated ? "Logout": "Login"}}

      </p>

    </div>



</div>



<div class = "header no-margin-no-padding">

  <div class = "row headerBackpanel no-margin-no-padding">

    <div class = "no-margin-no-padding headerLogo">

      <div class = "row no-margin-no-padding logoRow">

        <div class = "no-margin-no-padding">
          <a routerLink="/explore">
            <p class = "mainLogo"> Snippet </p>
          </a>
        </div>

        <div class = "no-margin-no-padding">
          <a routerLink="/explore">
            <p class = "subLogo"> Creative Community </p>
          </a>
        </div>

      </div>

    </div>



    <a [routerLink]='"/create/content"'>



        <!-- Inactive -->

        <img  class = "createButtonInactive hide"
              [ngClass]='{"show": parentRoute != "create"}'
              src="assets/images/Header Icons/createButtonInactive.svg">


        <!-- Active -->

        <img  class = "createButtonActive hide"
              [ngClass]='{"show": parentRoute === "create"}'
              src = "assets/images/Header Icons/createButtonActive.svg">





    </a>

    <div class = "displayButton" (click)="dashboardToggle()">

      <!-- Inactive -->

      <img  class = "displaybuttonActive"
            [ngClass]='{"show": !showDashboard, "hide": showDashboard}'
            src = "assets/images/Header Icons/displaybuttonInactive.svg">


      <!-- Active -->
      <img  class = "displaybuttonInactive"
            [ngClass]='{"show": showDashboard, "hide": !showDashboard}'
            src = "assets/images/Header Icons/displaybuttonActive.svg">


    </div>

    <a routerLink="/explore">



        <!-- Inactive -->
        <img  class = "exploreButton hide"
              [ngClass]='{"show": !activeExplore.classList.contains("show")}'
              src = "assets/images/Header Icons/exploreInactive.svg">


        <!-- Active -->
         <img class = "activeexploreButton hide"
              #activeExplore
              [ngClass]='{ "show": parentRoute === "explore" || (parentRoute === "profile" && uid != myUid) || parentRoute === "post"}'
              src = "assets/images/Header Icons/exploreActive.svg">



    </a>

    <a [routerLink]='profileRoute' (click)='dpClick()'>

      <div class = "profileButton">

        <div class = "dpContainer">
          <app-display-picture *ngIf='isAuthenticated' [uid]='myUid'></app-display-picture>
        </div>

        <!-- Inactive -->

        <img  src = "assets/images/Header Icons/profilebuttonInactive.svg"
              class='hide'
              [ngClass]='{"show": !activeProfile.classList.contains("show")}'>


        <!-- Active -->

        <img class = "activeprofileButton hide"
            #activeProfile
            [ngClass]='{"show": parentRoute === "profile" && uid === myUid}'
            src = "assets/images/Header Icons/profilebuttonActive.svg">

      </div>

    </a>

    <div
        style='cursor:pointer'
        (click)='dropdown = !dropdown'
        (clickOutside)="dropdown = false"
        #dropdownButton>

      <!-- Inactive -->

      <img  class = "optionsButtonInactive hide"
            [ngClass]='{"show": !activeDropdown.classList.contains("show")}'
            src = "assets/images/Header Icons/optionsButtonInactive.svg">

      <!-- Active -->

      <img  #activeDropdown 
            class = "optionsButtonActive hide"
            [ngClass]='{"show": parentRoute === "auth" || parentRoute === "feedback"}'
            src = "assets/images/Header Icons/optionsButtonActive.svg">

    </div>

  </div>

  <div class="loading-bar"
      *ngIf="loadingBar$ | async">
  </div>

</div>






