
body{
  letter-spacing: 0.05em;
}

.col {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}


.contain {
  border: 0;
  height: auto;
  background-color: rgb(5, 4, 5); 
}

.active-link, .contain a:hover {
  color: #D8B869;
}

.contain a {
  color: #707070;
}

.fontHeader {
  font-family: 'ChampagneAndLimousines';
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}

.logoMain {
  padding-left: 15px;
  font-size: 28px;
  color: #D8B869;
  letter-spacing: 0.180em;
}

.logoSub {
  font-family: 'ChampagneAndLimousines';
  font-size: 16px;
  padding-left: 7px;
  color: #707070;
}

.activeRoute {
  color: #D8B869;
}

.login {
  padding-right: 5px;
  text-align: center;
}

a {text-decoration: none !important;}


