<div class= "row no-gutters justify-content-center containerPopUp text-wrap">
  
    <div class = "col-fluid align-self-center box no-gutters justify-content-center">
      
      <div class = "row marginTop">
  
        <div class = "col text-wrap">
          <p>Statement</p>
        </div>
  
      </div>
  
      <div class = "row margin">
  
        <div class = "col text-wrap button align-self-center">
          <p>Button-1</p>
        </div>
  
      </div>
  
      <div class = "row margin">
  
        <div class = "col text-wrap button">
          <p>Button-2</p>
        </div>
  
      </div>
      
      
    </div>
  
  </div>