<div class="containerPopUp">
  <div class="container-fluid">
    <div class= "row">
      <div class = "col-lg-3 col-md-6 col-sm-8 col-10 box horizontal-center">
        <div class = "row marginTop message">
          <div class = "col text-wrap">
            <p>{{message}}</p>
          </div>
        </div>
        <div class = "row margin">
          <div class = "col" *ngIf='secondary'>
            <div class="text-wrap btn" (click)='onClick(false)'>
              {{secondary}}
            </div>
          </div>
          <div class = "col">
            <div class="text-wrap btn" (click)='onClick(true)'>
              {{primary}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
