rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /profile details/{uid}{
      allow read: if true;
      allow write: if isUser(uid);
    }

    match /profile stickers/{uid}{
      allow read: true;
      allow write: if isUser(uid);
    }

    match /activity/{
      allow read, write: true;
    }

    match /post details/{pid}{
      allow read: true;
      allow create: if isUser(resource.data.uid);
      allow update: false;
      allow delete: false;
    }

    match /post content/{pid}{
      allow read: true;
      allow create: isSignedIn() && !!(resource.data.fileFormat);
      allow update: false;
      allow delete: false;
    }

    match /sticker content/{pid}{
      allow read: true;
      allow create: isSignedIn() && !!(resource.data.fileFormat);
      allow update: false;
      allow delete: false;
    }

    match /sticker details/{pid}{
      allow read: true;
      allow create: isSignedIn() && !!(resource.data.amountReleased <= 30); //only allow maximum of 30 stickers
      allow update: false;
      allow delete: false;
    }

    match /collection/{cid} {
      allow read: true;
      allow create: allowCollection(resource.data);
      allow update: false;
      allow delete: false;a
    }
  }
}

//Write functions
function allowCollection(data){
  return isUser(data.collectorID)
         && (get(/databases/$(database)/documents/activity/$(data.pid)).collected
              / get(/databases/$(database)/documents/sticker details/$(data.pid)).amountReleased ) < 1
         && !(exists(/databases/$(database)/documents/feed/$(data.collectorID)))
}

// Helper functions

// Check if user has the specified uid
function isUser(uid) {
  return isSignedIn() && request.auth.uid == uid;
}

// Check if user is signed in
function isSignedIn() {
  return request.auth.uid != null;
}

// Check if user matches current data owner
function isOwner(){
  return isUser(currentData().owner);
}

// Check if user matches future data owner (if write completes)
function willBeOwner(){
  return isUser(incomingData().owner);
}

// Get data being read
function currentData() {
  return resource.data;
}

// Get data being written (merged with current data)
function incomingData() {
  return request.resource.data;
}
