<div class="row" style="width:100%; padding-left:0px">
  <!-- Heading -->
  <div class="row">
    <div class="heading float-left">Comments</div>
  </div>
  <!-- Comment list -->
  <div class="row" style="margin-top:0">
    <div class="commentList">
      <app-comment-list [postId]= "1" [commentList]="commentList"></app-comment-list>
    </div>
  </div>
  <!-- Input -->
  <div class="row" style="padding-left: 25px; padding-top: 15px;">
    <div style="width: 334px;">
      <div class="row" style="width: 100%">
        <div class="col-10" style="padding: 0px; padding-right: 10px">
          <input
          type="text"
          id="comment"
          class="form-control"
          [(ngModel)]="userComment"
          name="comment"
          style="width: 100%"
          placeholder="Please enter comment"
          (keydown)="$event.keyCode === 13 ? postComment() : 1">
        </div>
        <div class="col-2" style="padding: 0px" >
          <button
            class="btn"
            style="width: 50px"
            [disabled]="userComment.trim() === ''"
            (click)="postComment()">
            <span class="centerStuff">Post</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
