/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.heading {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 22px;
  color: #F7F7F7;
}

.commentList{
  width: 454px;
}

input,
input:focus,
.btn  {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 15px;
  color: #F7F7F7;
  border: 2px solid #D8B869;
  background:rgba(19, 17, 20, 0.6);
  height: 30px;
}


.centerStuff{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

