.center {

  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.center-signup {

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.backpanel {

  position: absolute;
  width: 340px;
  height: 486px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #060606;
  -webkit-box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

}

.topHeading {

  height: 132px;
  width: 100%;

}

.headingSVG {
  position: absolute;
  top: 53px;
  left: 19px;
}

.entry {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

::-webkit-input-placeholder {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000000;
}

::-moz-placeholder {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000000;
}

:-ms-input-placeholder {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000000;
}

::-ms-input-placeholder {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000000;
}

::placeholder {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000000;
}

.entryBox {
  width: 312px;
  height: 36px;
  background: #9A9696;
  border-radius: 13px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.entryBoxLast {
  margin-bottom: 68px;
}


.btnSignIn {
  width: 190px;
  height: 45px;
  background: #E2B33D;
  border-radius: 13px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  font-family: 'ChampagneAndLimousines';
  letter-spacing: 0.1em;
  color: #000000;
}

.logoSignUp {
  position: absolute;
  bottom: 19px;
  right: 25px;
  height: 10.888vh;
  width: 17.36111vw;

}

.danger-alert-sign-up {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  color:#891E13;
  width: 100%;
  margin-top: -53px;
  margin-bottom: 29px;
  font-size: 16px;
  padding-left: 18px;
}

.authScreen {

  height: calc(100vh - 54px);
  width: 100%;

}

.form {

    width: 30.208333%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;

}

.no-margin-no-padding {

  margin: 0%;
  padding: 0%;

}

.heading {

    margin-top: calc(54px + 5vh);


}

.title {

  font-family: "Comfortaa";
  font-style: normal;
  font-weight: bold;
  font-size: 4.222vh;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-left: 15px;

}

.entryfieldOneTitle {

  font-family: "ChampagneAndLimousines";
  font-style: normal;
  font-weight: bold;
  font-size: 3.111vh;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-left: 18px;

}

.entryfield {

  top: 1vh;
  height: 3.611vh;
  width: 25.625vw;

}

.entryfieldOne {

  height: 3.611vh;
  width: 25.625vw;
  background-color: #9A9696;
  margin-left: 15px;
  border-radius: 8px;
  font-size: 2vh;

}

.entryfieldTwoTitle {

  font-family: "ChampagneAndLimousines";
  font-style: normal;
  font-weight: bold;
  font-size: 3.111vh;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-left: 18px;
  margin-top: 5vh;

}


.subLinks {

  position: absolute;
  height: 8.555vh;
  width: 14.4027vw;
  bottom: 1.5%;
  left: 15px;

}

.Links {

  height: 33.3333333333%;
  width: 100%;

}

.colLinks {

  height: 100%;
  width: 100%;

}

.subTitle {

  font-size: 2vh;
  font-family: "ChampagneAndLimousines";
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #EBDDBB;

}

.onBoarding {


  width: 69.791667%;
  height: 100%;
  margin-left: 30.208%;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: -o-linear-gradient(347.61deg, #632FDE 0.7%, #8451B4 15.32%, #E2B33D 46.6%, #DB7E3D 78.17%, #CF263C 100%);
  background: linear-gradient(102.39deg, #632FDE 0.7%, #8451B4 15.32%, #E2B33D 46.6%, #DB7E3D 78.17%, #CF263C 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;

}



.clickPrompt {

  position: relative;
  top: 36.444%;
  left: 6.486vw;;
  height: 4.444vh;
  width: 20.5555vw;

}

.description {

  position: absolute;
  top: 70%;
  right: 4%;
  height: 12vh;
  width: auto;

}



.fill {

  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;

}

.forgotPassword {

  font-family: "ChampagneAndLimousines";
  font-style: normal;
  font-weight: bold;
  color: rgba(235, 221, 187, 0.9);
  opacity: 0.7;
  font-size: 1.8vh;
  position: absolute;
  margin-top: 1.2vh;
  left: 18px;

}

.loginButton {
  margin-top: 6vh;
  margin-left: 12px;
}



input {
  border: none;
  outline: none;
  padding-left: 10px;
  text-align: left;
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  background:#9A9696;
}

input:focus,
textarea:focus {
  color: #000000;
  outline: none;
  background: #C4C4C4;
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
}


@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input:focus,
textarea:focus {
  border: 2px solid #EAB430;
  color: #EAB430;
  background: #0B0B0B;
  outline: none;
}

::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
  color: rgba(216,184,105,1);

}

.btn {

  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 3.0vh;
  color: #EAB430;
  background: #131114;
  border-radius: 20px;
  padding-left: 12px;
  border: none;
}

.btn:enabled:hover{
  background: #EAB430;
  color: #080708;
}

.invalid {
  border: 2px solid #891E13;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
}

.danger-alert {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 2.0vh;
  color:#891E13;
  width: 100%;
  margin-top: 2vh;
  padding-left: 18px;
}

.topPadding {
  padding-top: 20vh;
}

.title-forgot {
  font-size: 4vh;
}

.back-to-sign {
  margin-top: 20vh;
}


@media only screen and (max-width: 550px) {

  .form {
    width: 100%;
    height: 60%;
  }

  .subLinks {
    display: none;
  }

  .onBoarding {
    width: 100%;
    height: 47%;
    position: absolute;
    top: 53%;
    margin-left: unset;
  }

  .description {
    display: none;
  }

  .heading {
    margin-top: 20px;

  }

  .title {
    font-size: 32px;
  }

  .title-forgot {
    font-size: 28px;
  }

  .entryfieldOneTitle {
    font-size: 22px;
  }

  .entryfield {
    width: 90%;
  }

  .entryfieldOne {
    height: 25px;
    width: 100%;
  }

  .entryfieldTwoTitle {
    font-size: 22px;
    margin-top: 30px;
  }

  .forgotPassword {
    font-size: 16px;
    margin-top: 5px;
  }

  .back-to-sign {
    margin-top: 110px;
  }

  .loginButton {
    margin-top: 40px;
  }

  .btn {
    font-size: 16px;
  }

  .danger-alert {
    margin-top: 6px;
    font-size: 12px;
    padding-left: 18px;
  }

  .clickPrompt {
    position: absolute;
    right: 2%;
    bottom: 5%;
    width: 200px;
  }

  .backpanel {
    top: 10%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .logoSignUp {
    display: none;
  }

  .entryfieldOne {
    font-size: 14px;
  }

  .authScreen {

    height: calc(100% - 54px);
  
  }
}