.nav{
  background: linear-gradient(90.65deg, #080708 28.65%, #121012 76.04%);
  box-shadow: 0px -0.5px 0px rgba(255, 255, 255, 0.16);
  position: fixed;
  bottom:0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.nav > .row {
  padding-top: 1.7vh;
  padding-bottom: 1.9vh;
  width: 100%;
  height: 7.24vh;
}

.collectionSymbol >  img {
  height: 3.2vh;
  width: auto;
}

.createSymbol >  img {
  height: 3.2vh;
  width: auto;
}

.exploreSymbol  > img {
  height: 3.2vh;
  width: auto;
}

.dropupSymbol > img {
  height: 3.2vh;
  width: auto;
}

.dpBorder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 3.2vh;
  height: 3.2vh;
  border-radius: 50%;
  border: 1px solid #D8B869;
  background:#080708;
  overflow: hidden;
}

.dropdownSymbol > img {
height: 3.2vh;
width: auto;
}

.dpBorder {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
width: 3.2vh;
height: 3.2vh;
border-radius: 50%;
border: 1px solid #E2B33D;
background:#080708;
overflow: hidden;
}

.dpBorder img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inactive-link {
-webkit-filter: grayscale(60%);
        filter: grayscale(60%);
}

.inactive-dp {
border: 1px solid #ffffff;
}

.drop-up {
  position: fixed;
  bottom: 70px;
}

.box {
-ms-flex-item-align: end;
    align-self: flex-end;
font-size: 5vw;
width: 100%;
padding-right: 15px;
}

.inBox {
border-radius: 8px;
border: 2px solid #D8B869;
color: #C9BC95;
font-family: "ChampagneAndLimousines";
font-weight: 700;
background-color: rgba(0, 0, 0, 0.3);
-webkit-backdrop-filter: blur(6vw);
        backdrop-filter: blur(6vw);

}

.inner {
padding-top: 4px;
padding-bottom: 4px;
}

.loading-bar {
  border-top: 2px solid #D8B869;
  position: fixed;
  width: 90vw;
  animation-name: loadingAnim;
  animation-duration: 10s;
  animation-timing-function: linear;
}

@keyframes loadingAnim {
  from { width: 0; };
  to { width: 90vw; };
}

.no-padding {
  padding: 0 0 0 0;
}

.no-margin {
  margin: 0 0 0 0;
}

.fit-screen {
  width: 100vw;
}
