<div class="row no-gutters text-center divider">
    <div class="col text-center exploreSymbol">
        <a (click)="navigate('explore')">
            <img [src]="exploreSymbol">
        </a>
    </div>
    <div class="col text-center Symbol">
        <a (click)="navigate('collection')">
            <img [src]="collectionSymbol">
        </a>
    </div>
    <div class="col text-center Symbol">
        <a (click)="navigate('create')">
            <img [src]="createSymbol">
        </a>
    </div>
    <div class="col text-center ">
        <a (click)="navigate('profile')">
            <div class="dpBorder">
                <img [src]="isAuthenticated ? (displayPicture$ | async) : placeholderImg"
                alt="display picture"
               [ngStyle]="{'height': imageProp.height, 'width': imageProp.width}"
               (load)="onLoad($event)">
            </div>
        </a>
    </div>
    <div class="col text-center dropdownSymbol">
        <a (click)="navigate('log')">
            <img [src]="logoutSymbol">
        </a>
    </div>
</div>
