 .profileDisplay {
    height: 234px;
    width: 353px;
    position: relative;
    background: rgba(196, 196, 196, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 13px;
 }

.profileDisplayBorder {
   height: 100%;
   width: 100%;
   background-image: url("src/assets/icons/Profile Display/profileDisplayBorder.svg");

 }

.profileDB-edit {
  background-image: url("src/assets/icons/Profile Display/editModeBackground.svg");
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.no-margin-no-padding {
  margin: 0px;
  padding: 0px;
}

.displayStickers {
  height: 21.36%;
  width: 100%;
  margin-top: 2.5%;
}

.sticker {
  height: 100%;
}

.stickerContainer {
 height: 100%;
 width: 84.985836%;
 border-radius: 50%;
 position: absolute;
 left: 0px;
}

.stickerContainer-edit {
  background-color: #8F8F8F;
  border: 2px solid #E2B33D;
}

.stickerContainer-bck {
 background-color: #8F8F8F;
}

.profileDetailsTop {
  height: 38.461538%;
  width: 100%;
  margin-top: 1.1%;
}

.displayPicture {
  margin-left: 2.5%;
}

.dpContainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;;
}

.dpContainer-bck {
  background-color: rgba(196, 196, 196, 1);
}

.dpContainer-edit {
  border: 0.8px solid #E2B33D;
  background-color: rgba(196, 196, 196, 0);
}

.dp {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
}


.dpContainer-edit-img {
  width: 40%;
  height: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profileDescription {
  height: 100%;
  margin-left: 2.7%;
  position: relative;
  word-wrap: break-word;
  font-family: "ChampagneAndLimousines";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgba(235, 221, 187, 0.9);
}

.svgStyle {
  position: absolute;
  left:0;
  top:0;
}

.profileDetailsBottom {
  margin-top: 1.2%;
  height: 8.119658%;
}

.profileDetailsBottom-edit {
  height: 8.719658%;
}

.editButton {
  height: 100%;
  margin-left: 2.7%;
  border: 0.8px solid #E2B33D;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
  border-radius: 2px;
}

.editButton-edit {
  margin-left: 2.7%;
}

.editButtonText {
  letter-spacing: 0.1em;
  color: #FFFFFF;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  padding-top: 1.0%;
}

.svgCenter {

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.sticker > img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profileLink {
  height: 100%;
  margin-left: 2.7%;
  position: relative;
  font-family: "ChampagneAndLimousines";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgba(235, 221, 187, 0.9);
}

.profileMetrics {
  margin-top: 0.4%;
  height: 18%;
  width: 100%;
}

.metricsCol {
  height: 100%;
  margin-left: 2.7%;
}

.metricsSymbols {
  height: auto;
  width: 100%;
}

.metricsNumbers {
  height: 27.5%;
  width: 100%;
  margin-bottom: 2px;
}

.metricsLabel {
  height: 22.5%;
  width: 100%;
}

.viewLabel , .holderLabel {
  height: 100%;
}

.views , .holders {
  font-family: 'ChampagneAndLimousines';
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 5px;
}

.viewsSymbol , .holderSymbol {
  text-align: center;
}

.viewCounter , .holderCounter {
  font-family: 'ChampagneAndLimousines';
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 11px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 2px;
}

.usernameSpace {
  height: 100%;
  margin-left: 2.7%;
}

.username {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translate(-100%, -50%);
}

.input {
  width: 100%;
  height: 100%;
  border: 0.8px solid #E2B33D;
  /* border-radius: 5%; */
  padding-left: 1%;
}

/* Change css for editable div in focus here */
/* [contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
} */

.input-cover {
  background: rgba(196, 196, 196, 0.05);
  backdrop-filter: blur(1px);
  position:absolute;
  left:0;
  top:0;
}

.file-input-container {
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 0px;
  height: 0px;
  opacity: 0;
}

.loggedout {

  position: absolute;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;

}

.loggedoutText {

  font-family: "Comfortaa";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 0px;
  letter-spacing: 0.1em;
  color: #FFFFFF;

}

.selectedSticker {



}





/* Opacity in for opening post details */

.opacity-in-details {
	-webkit-animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-in{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background: rgba(11,11,11,0.5);
  }
}


@keyframes opacity-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.opacity-out-details {
	-webkit-animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-out{
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


@keyframes opacity-out {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
