<!-- <div class="row no-padding no-margin view-width">
  <div class="col-md-12 no-margin no-padding" align="center"
      *ngIf="profileDetails$ | async; let details">
    <div class="outerContainer"> -->
      <!-- Profile stickers -->
      <!-- <div class="row profile-sticker-row"
           *ngIf="profileStickers$ | async as stickers; else noStickers;">
        <div class="col-2 no-margin-no-padding"></div>
        <div class="col profile-sticker-col"
            *ngFor="let i of getEmptySlots(stickers)">
          </div>
        <div class="col-2 profile-sticker-right-col"
            *ngFor="let sticker of stickers">
          <app-sticker [pid]="sticker.pid" [size]="stickerSize"></app-sticker>
        </div>
      </div>
      <ng-template #noStickers>
        <div class="row no-stickers">
        </div>
      </ng-template> -->
      <!-- DP -->
      <!-- <div class="row display-picture"
          *ngIf="displayPicture$ | async as content;">
        <div class="col-3 display-picture-col">
          <div class="storySignifier">
            <div class="dpBackground">
              <div class="dpBorder">
                <img [src]="content"
                     alt="display picture">
              </div>
            </div>
          </div>
        </div> -->
        <!-- Bio -->
        <!-- <div class="col-9 bio" align="left">
          <div class="row">
            <div class="col-12 title">
              {{details.bio.title}}
            </div>
          </div>
          <div class="row">
            <div class="col-12 location">
              {{details.bio.location}}
            </div>
          </div>
          <div class="row">
            <div class="col-8 description">
              {{details.bio.content}}
            </div>
            <div class="col-4 metrics-align">
              <div class="row metrics">
                <div class="col-6 metric-height" >
                  <span class="alignMetric">{{collected}}</span>
                </div>
                <div class="col-6 metric-height">
                  <span class="alignMetric-views">{{views}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-6 collect">
                  <img src="https://i.ibb.co/jJVZQ4S/Group-141.png" alt="Stickers collected">
                </div>
                <div class="col-6 views">
                  <img src="https://i.ibb.co/hfx6Q6v/Views-Icon.png" alt="Views-Icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-row" style="position: relative;">
        <div class="col-3 height-100 edit-group"
             style="cursor: pointer;"
             (click)='editProfile()'
             *ngIf="uid === myUid">
          <div class="row no-margin-no-padding height-100 ">
            <div class="col-3 height-100 no-margin-no-padding" >
              <img class="edit" src="https://i.ibb.co/fQ2KFj8/icons8-edit.png" alt="icons-edit" >
            </div>
            <div class="col-9 edit-text my-auto">
              <span>Edit</span>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-1 no-margin-no-padding" ></div> -->
        <!-- <div class="col-9 username float-right"
             style="cursor: pointer;"
            (click)="navigateRoute()"
            [ngStyle]="{'font-size': (usernameFontSize*multiplier).toString() + 'px'}"
            *ngIf="uid === myUid">
            <span class="username-span"  #usernameRef>
              {{details.username}}
            </span>
        </div>
        <div class="col-12 username float-right"
            style="cursor: pointer;"
           (click)="navigateRoute()"
           *ngIf="uid != myUid">
            <span class="username-span"
                  [ngStyle]="{'font-size': (usernameFontSize*multiplier).toString() + 'px'}"
                  #usernameRef>
              {{details.username}}
            </span>
        </div>
      </div>
    </div>
  </div>
</div> -->
  
  <div class = "profileDisplay">
    <div class = "row profileDisplayBorder">
      <div class = "col no-margin-no-padding">
        <div class = "row no-margin-no-padding displayStickers">
          
          <div class = "sticker col-2 no-margin-no-padding">

          </div>

          <div class = "sticker col-2 no-margin-no-padding">
            <div class = "stickerContainer"></div>
          </div>

          <div class = "sticker col-2 no-margin-no-padding">
            <div class = "stickerContainer"></div>
          </div>

          <div class = "sticker col-2 no-margin-no-padding">
            <div class = "stickerContainer"></div>
          </div>

          <div class = "sticker col-2 no-margin-no-padding">
            <div class = "stickerContainer"></div>
          </div>

          <div class = "sticker col-2 no-margin-no-padding">
            <div class = "stickerContainer"></div>
          </div>

        </div>

        <div class = "row no-margin-no-padding profileDetailsTop">
          
          <div class = "col-3 no-margin-no-padding displayPicture">
            <div class = "dpContainer"></div>
          </div>

          <div class = "col-8 no-margin-no-padding profileDescription">

          </div>

        </div>

        <div class = "row no-margin-no-padding profileDetailsBottom">

          <div class = "col-3 no-margin-no-padding editButton">
            <p class = "editButtonText">Edit Profile</p>
          </div>

          <div class = "col-8 no-margin-no-padding profileLink">
            
          </div>
         
        </div>

        <div class = "row no-margin-no-padding profileMetrics">

          <div class = "col-3 no-margin-no-padding metricsCol">
            
            <div class = "row metricsSymbols">
              
              <div class = "col-6 viewsSymbol no-margin-no-padding">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.27287 14.0514L1.17556 4.27573C1.17209 3.92691 1.36138 3.61712 1.69489 3.42578C2.02839 3.23444 2.42784 3.20648 2.7908 3.34905L14.9276 8.11658C15.5471 8.35993 15.6001 8.86995 15.6016 9.02047C15.6031 9.17099 15.5603 9.68197 14.9457 9.9376L2.90623 14.9458C2.54618 15.0955 2.14626 15.0755 1.80901 14.8909C1.47176 14.7062 1.27634 14.4003 1.27287 14.0514Z" fill="#8F8F8F"/>
                  <path d="M14.4571 9.0319L14.4571 9.0319L2.32032 4.26436C2.32032 4.26436 2.32032 4.26437 2.32032 4.26437L2.41762 14.0401C2.41762 14.0401 2.41762 14.0401 2.41762 14.0401C2.41762 14.0401 2.41763 14.0401 2.41763 14.0401L14.4571 9.0319C14.4571 9.0319 14.4571 9.0319 14.4571 9.0319ZM16.7464 9.00911C16.7537 9.74037 16.3176 10.476 15.4346 10.8434L3.39509 15.8515C1.88427 16.48 0.14293 15.5265 0.128361 14.0629L0.0310551 4.28715C0.0164859 2.82347 1.73851 1.83553 3.26153 2.43381L15.3983 7.20134C16.2885 7.55102 16.7391 8.27786 16.7464 9.00911Z" fill="#8F8F8F"/>
                </svg>
              </div>

              <div class = "col-6 holderSymbol no-margin-no-padding">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                  <path d="M7.99944 15.6182C3.79855 15.6182 0.380859 12.2004 0.380859 7.99929C0.380859 3.79822 3.79855 0.380371 7.99944 0.380371C12.2007 0.380371 15.6187 3.79822 15.6187 7.99929C15.6187 12.2004 12.2007 15.6182 7.99944 15.6182ZM7.99944 1.1428C4.21856 1.1428 1.14262 4.21859 1.14262 7.99929C1.14262 11.7804 4.21856 14.8565 7.99944 14.8565C11.7807 14.8565 14.857 11.7804 14.857 7.99929C14.857 4.21859 11.7807 1.1428 7.99944 1.1428Z" fill="#8F8F8F"/>
                  <path d="M1.51772 4.78063C2.70443 2.40058 5.1642 0.761938 7.99954 0.761938C10.8351 0.761938 13.2951 2.40049 14.482 4.78049C13.2951 2.4003 10.8351 0.76138 7.99954 0.76138C5.16425 0.76138 2.70443 2.40039 1.51772 4.78063ZM7.99954 15.9992C3.58859 15.9992 0 12.4105 0 7.99936C0 3.58821 3.58859 -0.000488281 7.99954 -0.000488281C12.4109 -0.000488281 15.9998 3.58821 15.9998 7.99936C15.9998 12.4105 12.4109 15.9992 7.99954 15.9992ZM7.99954 1.52381C4.42876 1.52381 1.52367 4.42876 1.52367 7.99936C1.52367 11.5704 4.42876 14.4756 7.99954 14.4756C11.5707 14.4756 14.4761 11.5704 14.4761 7.99936C14.4761 4.42876 11.5707 1.52381 7.99954 1.52381Z" fill="#8F8F8F"/>
                  <path d="M7.99993 13.7137C11.1558 13.7137 13.7142 11.1554 13.7142 7.99966C13.7142 4.8439 11.1558 2.28564 7.99993 2.28564C4.84402 2.28564 2.28564 4.8439 2.28564 7.99966C2.28564 11.1554 4.84402 13.7137 7.99993 13.7137Z" fill="#8F8F8F"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="16" height="16" fill="white"/>
                  </clipPath>
                  </defs>
                  </svg>
              </div>
          
            </div>

            <div class = "row metricsNumbers no-margin-no-padding">

              <div class = "col-6 viewNumbers no-margin-no-padding">

              </div>

              <div class = "col-6 holderNumbers no-margin-no-padding">

              </div>

            </div>

            <div class = "row metricsLabel no-margin-no-padding">

              <div class = "col-6 viewLabel no-margin-no-padding">
                <p class = "views">Views</p>
              </div>

              <div class = "col-6 holderLabel no-margin-no-padding">
                <p class = "holders">Holders</p>
              </div>


            </div>




          </div>


        </div>

      </div>

    </div>
  </div>

