/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@-webkit-keyframes ldio-438olev6hsc-o {
  0%    { opacity: 1; -webkit-transform: translate(0 0); transform: translate(0 0) }
 49.99% { opacity: 1; -webkit-transform: translate(98.56px,0); transform: translate(98.56px,0) }
 50%    { opacity: 0; -webkit-transform: translate(98.56px,0); transform: translate(98.56px,0) }
100%    { opacity: 0; -webkit-transform: translate(0,0); transform: translate(0,0) }
}
@keyframes ldio-438olev6hsc-o {
  0%    { opacity: 1; -webkit-transform: translate(0 0); transform: translate(0 0) }
 49.99% { opacity: 1; -webkit-transform: translate(98.56px,0); transform: translate(98.56px,0) }
 50%    { opacity: 0; -webkit-transform: translate(98.56px,0); transform: translate(98.56px,0) }
100%    { opacity: 0; -webkit-transform: translate(0,0); transform: translate(0,0) }
}
@-webkit-keyframes ldio-438olev6hsc {
  0% { -webkit-transform: translate(0,0); transform: translate(0,0) }
 50% { -webkit-transform: translate(98.56px,0); transform: translate(98.56px,0) }
100% { -webkit-transform: translate(0,0); transform: translate(0,0) }
}
@keyframes ldio-438olev6hsc {
  0% { -webkit-transform: translate(0,0); transform: translate(0,0) }
 50% { -webkit-transform: translate(98.56px,0); transform: translate(98.56px,0) }
100% { -webkit-transform: translate(0,0); transform: translate(0,0) }
}
.ldio-438olev6hsc div {
position: absolute;
width: 98.56px;
height: 98.56px;
border-radius: 50%;
top: 62.720000000000006px;
left: 13.440000000000001px;
}
.ldio-438olev6hsc div:nth-child(1) {
background: #e3b33d;
-webkit-animation: ldio-438olev6hsc 1.1627906976744184s linear infinite;
        animation: ldio-438olev6hsc 1.1627906976744184s linear infinite;
-webkit-animation-delay: -0.5813953488372092s;
        animation-delay: -0.5813953488372092s;
}
.ldio-438olev6hsc div:nth-child(2) {
background: #707070;
-webkit-animation: ldio-438olev6hsc 1.1627906976744184s linear infinite;
        animation: ldio-438olev6hsc 1.1627906976744184s linear infinite;
-webkit-animation-delay: 0s;
        animation-delay: 0s;
}
.ldio-438olev6hsc div:nth-child(3) {
background: #e3b33d;
-webkit-animation: ldio-438olev6hsc-o 1.1627906976744184s linear infinite;
        animation: ldio-438olev6hsc-o 1.1627906976744184s linear infinite;
-webkit-animation-delay: -0.5813953488372092s;
        animation-delay: -0.5813953488372092s;
}
.loadingio-spinner-dual-ball-qgi44nxh3ao {
width: 224px;
height: 224px;
display: inline-block;
overflow: hidden;
background: transparent;
}
.ldio-438olev6hsc {
width: 100%;
height: 100%;
position: relative;
-webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
-webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
        transform-origin: 0 0; /* see note above */
}
.ldio-438olev6hsc div { -webkit-box-sizing: content-box; box-sizing: content-box; }
/* generated by https://loading.io/ */