<div class = "collectionTab">

    <div class = "row no-margin-no-padding topBorder">

    </div>

    <div class = "row no-margin-no-padding title">
        <p class = "titleText"> My Collection </p>
    </div>
    
    <div class = "row no-margin-no-padding scroll">

        <div class = "col no-margin-no-padding scrollSpace">
       
        <ul class = "no-margin-no-padding">

            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>
            <li class = "no-margin-no-padding padding-bottom "><app-collection></app-collection></li>



        </ul>
            

        </div>

    </div>







</div>
