





 
    <div class="flex-container">
                
        <div class="Collect">
            <img src="assets/images/Collect@3x.png" class="pic-Collect">
            <p style="font-size: 22px;">COLLECT</p>

            <p>That big round thing on the<br> 
            bottom right is the posts sticker.</p>

            <p>The bar shows how many stickers are left</p>
        </div>
        
        <div class = "Create">
            <img src="assets/images/Create@3x.png" class="pic-Create">
            <p style="font-size: 22px;">CREATE</p>

            <p>Choose how many stickers you want to
                release</p><br>
                
                <br>

            <p>Express your creativity</p>
        </div>
        
        <div class = "Community">
            <img src="assets/images/Community@3x.png" class="pic-Community">
            <p style="font-size: 22px;">COMMUNITY</p>

            <p>See people use your work <br>
                to express themselves</p>
                <br>
            <p>Exclusively use content
                through stickers</p>
        </div>
    </div>



