





 <div class = "back-ground"> 
    <div class="flex-container">
                
        <div class="Collect">
            <img src="assets/images/Collect@3x.png" class="pic-Collect">
            <p>COLLECT</p>

            <p>That big round thing on the<br> 
            bottom right is the posts sticker.</p>

            <p>The bar shows how many stickers are left</p>
        </div>
        
        <div class = "Create">
            <img src="assets/images/Create@3x.png" class="pic-Create">
            <p>CREATE</p>

            <p>Show the community your creativity</p>

            <p>Choose how many stickers you want to<br>
            release</p>
        </div>
        
        <div class = "Community">
            <img src="assets/images/Community@3x.png" class="pic-Community">
            <p>COMMUNITY</p>

            <p>Exclusively use content
                through stickers</p>
                <br>
            <p>See people use your work <br>
            to express themselves</p>
        </div>
    </div>
</div> 


