<div class = "profileTab">
    
    <div class = "backpanel row no-margin-no-padding">

        <div class = "backpanel col no-margin-no-padding">

            <div class = "engagementBar row no-margin-no-padding">

                <div class = "engagement no-margin-no-padding">
                    
                </div>

            </div>

            <div class = "profileDetails row no-margin-no-padding">

                <div class = "usernameSpace col-8 no-margin-no-padding">
                    <span class = "username">WWWWWWWWWWWWWWW</span>
                </div>

                <div class = "profileStickers col-4 no-margin-no-padding">

                    <div class = "displayStickers row no-margin-no-padding">

                        <div class = "col no-margin-no-padding">
                            <div class = "stickerContainer"></div>
                        </div>
                            
                        <div class = "col no-margin-no-padding">
                            <div class = "stickerContainer"></div>
                        </div>

                        <div class = "col no-margin-no-padding">
                            <div class = "stickerContainer"></div>
                        </div>

                        <div class = "col no-margin-no-padding">
                            <div class = "stickerContainer"></div>
                        </div>

                        <div class = "col no-margin-no-padding">
                            <div class = "stickerContainer"></div>
                        </div>


                    </div>

                </div>
                

            </div>



        </div>



    </div>

    <div class = "postSticker">
        
    </div>

</div>
