<!-- <div class = "profileTab">

    <div class = "backpanel row no-margin-no-padding">

        <div class = "backpanel col no-margin-no-padding">

            <div class = "engagementBar row no-margin-no-padding">

                <div class = "engagement no-margin-no-padding" [ngStyle]='engagementProp'>

                </div>

            </div>

            <div class = "profileDetails row no-margin-no-padding">

                <div class = "usernameSpace col-8 no-margin-no-padding">
                    <span class = "username"
                          *ngIf='profileDetails$ | async as details'
                          style="cursor: pointer;"
                          [routerLink]='profileRoute'>
                          {{details.username}}
                    </span>
                </div>

                <div class = "profileStickers col-4 no-margin-no-padding">

                    <div class = "sticker" [ngClass]="{'sticker-bck': !profileStickersLoaded}">
                      <app-sticker *ngIf='profileStickers[0] != null' [pid]="profileStickers[0].pid"></app-sticker>
                    </div>

                    <div class = "sticker-1" [ngClass]="{'sticker-bck': !profileStickersLoaded}">
                      <app-sticker *ngIf='profileStickers[1] != null' [pid]="profileStickers[1].pid"></app-sticker>
                    </div>

                    <div class = "sticker-2" [ngClass]="{'sticker-bck': !profileStickersLoaded}">
                      <app-sticker *ngIf='profileStickers[2] != null' [pid]="profileStickers[2].pid"></app-sticker>
                    </div>

                    <div class = "sticker-3" [ngClass]="{'sticker-bck': !profileStickersLoaded}">
                      <app-sticker *ngIf='profileStickers[3] != null' [pid]="profileStickers[3].pid"></app-sticker>
                    </div>

                    <div class = "sticker-4" [ngClass]="{'sticker-bck': !profileStickersLoaded}">
                      <app-sticker *ngIf='profileStickers[4] != null' [pid]="profileStickers[4].pid"></app-sticker>
                    </div>

                </div>

            </div>

        </div>



    </div>

    <div class = "postSticker"
        [ngClass]="{'postSticker-bck': !(stickerContent$ | async)}"
        style="cursor: pointer;"
        (click)='collectSticker()'> -->

        <!-- Loading animation -->

        <!-- <div [ngClass] = '{"loading-ball": stickerCollectionState === 0,
                           "confirm-ball": stickerCollectionState === 1,
                           "reject-ball": stickerCollectionState === -1}'></div>

      <img *ngIf='stickerContent$ | async as content' [src]='content' alt='post sticker'>
    </div>

</div> -->

<div class="profileTab">

  <div class="profilePicture">


  </div>

  <div class = "username">

    <p *ngIf='profileDetails$ | async as details'
    style="cursor: pointer;"
    [routerLink]='profileRoute'> 
    
    {{details.username}}
    
    </p>

  </div>

  <div class="displaySticker-1" [ngClass]="{'sticker-bck': !profileStickersLoaded}">
    <app-sticker *ngIf='profileStickers[0] != null' [pid]="profileStickers[0].pid"></app-sticker></div>

  <div class="displaySticker-2"[ngClass]="{'sticker-bck': !profileStickersLoaded}">
    <app-sticker *ngIf='profileStickers[1] != null' [pid]="profileStickers[1].pid"></app-sticker></div>

  <div class="displaySticker-3" [ngClass]="{'sticker-bck': !profileStickersLoaded}">
    <app-sticker *ngIf='profileStickers[2] != null' [pid]="profileStickers[2].pid"></app-sticker></div>

  <div class="displaySticker-4"[ngClass]="{'sticker-bck': !profileStickersLoaded}">
    <app-sticker *ngIf='profileStickers[3] != null' [pid]="profileStickers[3].pid"></app-sticker></div>

  <div class="displaySticker-5"[ngClass]="{'sticker-bck': !profileStickersLoaded}">
    <app-sticker *ngIf='profileStickers[4] != null' [pid]="profileStickers[4].pid"></app-sticker></div>

  

</div>