/* Classes for multiple objects */

.no-margin-no-padding {
    margin: 0;
    padding: 0;
}


/* Single Object classes */


.profileTab {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6.404%;
    width: 100%;
}

.backpanel {
    height: 100%;
    width: 100%;
    background: rgba(11, 11, 11, 0.5);
}

.engagementBar {
    height: 11.6279%;
    width: 100%;
}

.engagement {
    height: 100%;
}

.profileDetails {
    width: 100%;
    height: 88.3721%;
}


.usernameSpace {
    height: 100%;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    font-size: 1.755vh;
    line-height: 0px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    position: relative;
}

.username {
    margin: 0;
    position: absolute;
    top: 54%;
    left: 2.5%;
}

.profileStickers {
    height: 100%;
}


.displayStickers {
    height: 100%;
    position: relative;
}

.stickerContainer {
    height: 2.466vh;
    width: 2.466vh;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: 20%;
    left: -10%;
    filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.35));
}

.stickerContainer-bck {
  background-color: #8F8F8F;
}

.postSticker {
    position: absolute;
    height: 8.4vh;
    width: 8.4vh;
    border-radius: 50%;
    left: 80%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    top: -200%;
}

.postSticker-bck {
  background-color: #8F8F8F;
}

.postSticker > IMG {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
