

/* Classes for multiple objects */

.no-margin-no-padding {
  margin: 0;
  padding: 0;
}


/* Single Object classes */

.profileTab {
  height: calc(70px * var(--norm-height));
  width: 100%;
  min-height: 70px;
  position: relative;

}

.profilePicture {
  height: calc(68px * var(--norm-height));
  width: calc(68px * var(--norm-height));
  min-width: 60px;
  min-height: 60px;
  background-color: #c4c4c4;
  margin-left: calc(10px * var(--norm-width));
  border-radius: 50%;
  display: inline-block;
}

.username {
  width: 80%;
  height: calc(17px * var(--norm-height));
  padding-left: 4px;
  padding-top: 8px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: calc(16px * var(--norm-height));
  line-height: calc(16px * var(--norm-width));
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
}

.displaySticker-1 {
  position: absolute;
  height: calc(30px * var(--norm-width));
  width: calc(30px * var(--norm-width));
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  top: calc(34px * var(--norm-height));
  right: 10px;

}

.displaySticker-2 {
  position: absolute;
  height: calc(30px * var(--norm-width));
  width: calc(30px * var(--norm-width));
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  top: calc(34px * var(--norm-height));
  right: 50px;
}

.displaySticker-3 {
  position: absolute;
  height: calc(30px * var(--norm-width));
  width: calc(30px * var(--norm-width));
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  top: calc(34px * var(--norm-height));
  right: 90px;
}

.displaySticker-4 {
  position: absolute;
  height: calc(30px * var(--norm-width));
  width: calc(30px * var(--norm-width));
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  top: calc(34px * var(--norm-height));
  right: 130px;
}

.displaySticker-5 {
  position: absolute;
  height: calc(30px * var(--norm-width));
  width: calc(30px * var(--norm-width));
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  top: calc(34px * var(--norm-height));
  right: 170px;
}





@media only screen and (max-height: 900px) {

  .profilePicture {
    max-width: 65px;
    max-height: 65px;
  }

  .username {
    font-size: 14px;
    line-height: 16px;
    width: 296px;
    height: 17px;
  }

  .profilePicture {
    left: 10px;

  }

  .displaySticker-1 {
    top: 28px;
    right: 10px;
  }

  .displaySticker-2 {
    top: 28px;
    right: 50px;
  }

  .displaySticker-3 {
    top: 28px;
    right: 90px;
  }

  .displaySticker-4 {
    top: 28px;
    right: 130px;
  }

  .displaySticker-5 {
    top: 28px;
    right: 170px;
  }


}


/* Animations */


.loading-ball {

  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(312.52deg, #E2B33D 14.56%, rgba(226, 179, 61, 0) 84.46%);
  background-image: linear-gradient(137.48deg, #E2B33D 14.56%, rgba(226, 179, 61, 0) 84.46%);
  border-radius: 50%;
  -webkit-animation: loading-bounce 1s linear infinite;
          animation: loading-bounce 1s linear infinite;
  position: absolute;
  top: 0%;
  left: 0%;
  

}

.confirm-ball {

  -webkit-animation: confirm-bounce 2.6s ;

          animation: confirm-bounce 2.6s ;
  border-radius: 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.reject-ball {

 
  border-radius: 50%;
  -webkit-animation: reject-bounce 2.6s ;
          animation: reject-bounce 2.6s ;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}


@-webkit-keyframes loading-bounce {
0%, 100% {
  -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
          animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
}
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
50% {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}


@keyframes loading-bounce {
0%, 100% {
  -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
          animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
}
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
50% {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

@-webkit-keyframes confirm-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color: #19812F;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  }

  
}

@keyframes confirm-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color: #19812F;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  }

  
}

@-webkit-keyframes reject-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color:#CF263C;;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  } 
}

@keyframes reject-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color:#CF263C;;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  } 
}





 
