label{
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 24px;
  color: #D8B869;
  width: 100%;
}

input,
input:focus,
textarea,
textarea:focus {
  font-family: 'ChampagneAndLimousines';
  font-size: 18px;
  color: #F7F7F7;
  border: 2px solid #D8B869;
  background: #131114;
  margin-bottom: 35px;
  border-radius: 10px;
  width: 100%;
}

.btn {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 24px;
  color: #D8B869;
  border: 2px solid #D8B869;
  background: #131114;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:12px
}

.btn:enabled:hover{
  background: #D8B869;
  color: #080708;
}

input.form-control.ng-invalid.ng-touched {
  border: 2px solid #891E13;
}

input.invalidAmount {
  border: 2px solid #891E13;
}


.form-control-file{
  border: 0px;
  background: #080708;
}

.form-control-file .btn {
  border: 2px solid #D8B869;
  background: #131114;
}

.file-input-container {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-75px);
  width: 0px;
  height: 0px;
  opacity: 0;
}

.inputFields {
  width: 475px;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.danger-alert {
  border: 2px solid #891E13;
  background: #131114;
  margin-bottom: 35px;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-size: 18px;
  color:#891E13;
  width: 100%;
}

.inputAmount {
  width: 100px;
}

.amountField {
  margin-bottom: 0px;
}

@media screen and (max-width: 560px) {
  .inputFields {
    width: 84.82vw;
  }
}
