<div class = "container-fluid screen">
  <div class = "row justify-content-center screen">
    <div class = "col-12 col-sm-10 col-md-8 col-lg-6 screen" *ngIf="!isCreating">
        <!-- First Page -->
        <form #first='ngForm'>
          <div *ngIf='currentStep === "content"'>
            <div class = "row no-gutters justify-content-center titlePosition">

              <div class = "col-4 title">
                <span>Create</span>
              </div>

            </div>

            <div class = "row no-gutters justify-content-left headingPosition">
              <div class = "col-10 heading">
                <span>Add a Picture or Video</span>
              </div>
            </div>


            <div class = "row no-gutters justify-content-left postPosition">
              <div class = "col-12 post" (click)='onAddClick("content")'>
                <div *ngIf='(postType$ | async) as type;'>
                  <img *ngIf='type.includes("image")' class='post-content center-absolute' [src]='postContent$ | async'>
                  <video *ngIf='type.includes("video")' [src]='(postContent$ | async)' class='post-content center-absolute' loop autoplay>
                  </video>
                  <!-- <embed *ngIf='type === "video/quicktime"' Pluginspage="https://support.apple.com/quicktime" class='post-content center-absolute' [src]='postContent$ | async' LOOP="true" AUTOPLAY='true'> -->
                </div>
                <img class='post-add center-absolute'
                     style='cursor:pointer'
                     src="src/assets/images/Header Icons/createButtonActive.svg">
                <input
                  type="file"
                  id="contentFile"
                  class="file-input"
                  accept="image/x-png,image/gif,image/jpeg,video/mp4,video/quicktime"
                  name="content"
                  (change)="onContentChange($event)"
                  (click)="stopPropagation($event);"
                  required
                  #contentInput>
              </div>
            </div>
          </div>
        </form>


        <!-- Second page -->
        <form #second='ngForm'>
          <div *ngIf='currentStep === "description"'>
              <div class = "row justify-content-left s-titlePosition">
                <div class = "col-8 s-title">
                  <span>Describe your content</span>
                </div>
              </div>

              <div class = "row justify-content-left s-titleInputPosition">
                <div class = "col-11 s-titleInput">

                  <label for="postTitle" class="text-left label-second">
                    <span>Title<sup>*</sup></span>
                  </label>
                  <input
                    type="text"
                    id="title"
                    class='input-second'
                    [(ngModel)]="title"
                    name="title"
                    required
                    maxlength="19"
                    autocomplete="off">

                  <label for="postDesc" class="text-left label-second">
                    <span>Description</span>
                  </label>
                  <input
                    type="text"
                    id="description"
                    class='input-second'
                    [(ngModel)]="desc"
                    name="description"
                    maxlength="240"
                    autocomplete="off">
                </div>
              </div>
          </div>
        </form>

        <!-- Third Page -->
        <form #third='ngForm'>
          <div *ngIf='currentStep === "sticker"'>
            <div class = "row justify-content-center t-titlePosition">
              <div class = "col-8 t-title">
                <span>Last Step: Add a Sticker</span>
              </div>
            </div>

            <div class = "row justify-content-center t-headingOnePosition">
              <div class = "col-8 t-headingOne">
                <span>Sticker: Add an Image or GIF<sup>*</sup></span>
              </div>
            </div>

            <div class = "row justify-content-center addStickerPosition">
              <div class = "col-8" align = "center" >
                <div class = "addSticker" (click)='onAddClick("sticker")'>
                  <img *ngIf="(stickerContent$ | async) as content" class='post-content center-absolute' [src]='content'>
                  <img class='sticker-plus'
                       style='cursor:pointer'
                       src="assets/images/Header Icons/createButtonActive.svg">
                  <input
                        type="file"
                        id="stickerFile"
                        class="file-input"
                        accept="image/x-png,image/gif,image/jpeg,image/tiff"
                        name="sticker"
                        (change)="onStickerChange($event)"
                        (click)="stopPropagation($event);"
                        required
                        #stickerInput>
                </div>
              </div>
            </div>

            <div class = "row justify-content-center t-headingTwoPosition">
              <div class = "col-8 t-headingTwo">
                <div class="inputAmount" align = "center" >
                  <label for="stickerAmount" class='label-third'>How many Stickers<sup>*</sup> :</label>
                  <input
                    type="number"
                    id="amount"
                    name="amount"
                    class='input-third'
                    required
                    min={{minSticker}}
                    max={{maxSticker}}
                    (change)="stickerAmountChange();"
                    style="margin-bottom: 0;"
                    [(ngModel)]="amount"
                    [ngClass]="{'invalidAmount': !amountValidation(amount)}">
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- Error message -->
        <div class="row justify-content-left danger-alertPosition alert">
          <div class="col-10">
            <div class="danger-alert" *ngIf="error">
              {{ error }}
            </div>
          </div>
        </div>

        <!-- Next arrow -->
        <div class = "row justify-content-center nextArrow rotate-center">
          <div class = "col-2 text-center" (click)='nextClick()'>
              <img [ngClass]='(second.valid && currentStep === "description") || (nextActive  && currentStep != "description") ? "pulsate-bck" : "inactive"'
                    src="assets/icons/nextArrow.svg" >
          </div>
        </div>

        <!-- Back Button -->
        <div class = "backButton" (click)='previousClick()' *ngIf="currentStep != 'content'">
          <img src="assets/icons/nextArrow.svg">
        </div>
    </div>
  </div>
</div>

