.username {
  font-size: 2.5vh;
  color: #F7F7F7;
  letter-spacing: 0.16em;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%,-50%);
      -ms-transform: translate(0%,-50%);
          transform: translate(0%,-50%);
  cursor: pointer;
}

.master {
  padding:0;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}




