<div class="row master">
  <div class="col" style="padding: 0">
    <span class="float-left username" 
          *ngIf="profileDetails$ | async as details"
          (click)="navigate()">
      {{details.username | shorten : 8}}
    </span>
  </div>
   <!-- profile stickers -->
   <div class="col" style="padding: 0px">
      <div class="row" style="width: 100%" *ngIf="profileStickers$ | async as stickers">
        <div class="col" 
          *ngFor="let i of getEmptySlots(stickers)"
          style="padding: 0px;"
          [ngStyle]="{'width': stickerSize, 'height': stickerSize}">
        </div>
        <div class="col"
          *ngFor="let sticker of stickers"
          style="padding: 0px;"
          [ngStyle]="{'width': stickerSize, 'height': stickerSize}">
          <app-sticker [pid]="sticker.pid" [size]="stickerSize"></app-sticker>
        </div>
    </div>
  </div>
</div>

