.no-margin-no-padding {
  margin: 0%;
  padding: 0%;
}

.backpanel {
  width: 100%;
  height: 100%;
}


.dpHolder {

  position: absolute;
  left: -8%;
  height: 90%;
  width: 80%;
  margin-top: 5%;

}

.dpContainer {

  position: relative;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;

}

.dp-no-bck {
  background: transparent;
}

.dp {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
}

.holderDetails {
  height: 100%;
  width: 100%;
  top: 14%;
}

.detailsTop {
  width: 100%;
  height: 40%;
}

.detailsBottom {
  width: 100%;
  height: 60%;
}

.usernameSpace {

  width: 100%;
  height: 100%;
  font-size: 1.6vh;
  font-family: 'Comfortaa';
  font-weight: bold;

}

.username {

  text-align: left;
  position: absolute;
  bottom: 0%;
  letter-spacing: 0.15em;

}


.collectionDate {

  width: 100%;
  height: 100%;
  font-size: 1.3vh;
  font-family: 'Comfortaa';

}

.dateCollected {

  right: 0%;
  position: absolute;
  bottom: 0%;

}

.stickerHolder {

  height: 2.8vh;
  width: 2.8vh;
  position: absolute;
  right: 0%;
  top: 2.4vh;

}

/* .sticker {

  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;

} */

.stickerHolder-1 {

  height: 2.8vh;
  width: 2.8vh;
  position: absolute;
  right: 11%;
  top: 2.4vh;

}

.stickerHolder-2 {

  height: 2.8vh;
  width: 2.8vh;
  position: absolute;
  right: 22%;
  top: 2.4vh;

}

.stickerHolder-3 {

  height: 2.8vh;
  width: 2.8vh;
  position: absolute;
  right: 33%;
  top: 2.4vh;

}

.stickerHolder-4 {

  height: 2.8vh;
  width: 2.8vh;
  position: absolute;
  right: 44%;
  top: 2.4vh;

}














/* .username {
  font-size: 2.5vh;
  color: #F7F7F7;
  letter-spacing: 0.16em;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%,-50%);
      -ms-transform: translate(0%,-50%);
          transform: translate(0%,-50%);
  cursor: pointer;
}

.master {
  padding:0;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
} */







