/* Classes for multiple objects */

.no-margin-no-padding {
  margin: 0;
  padding: 0;
}


/* Single Object classes */

.profileTab {
  height: calc(50px * var(--norm-height));
  width: 100%;
  min-height: 70px;
  position: relative;

}

.profilePicture {
  height: calc(48px * var(--norm-height));
  width: calc(48px * var(--norm-height));
  min-width: 48px;
  min-height: 48px;
  margin-left: calc(4px * var(--norm-width));
  border-radius: 50%;
  display: inline-block;
  outline: none;
}

.profilePicture > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.username {
  width: 80%;
  height: calc(14px * var(--norm-height));
  padding-left: 3px;
  padding-top: 5px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: calc(14px * var(--norm-height));
  line-height: calc(14px * var(--norm-width));
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  outline: none;
}

.sticker-bck {
  background-color: #FFFFFF;
}

.displaySticker-1 {
  position: absolute;
  height: calc(25px * var(--norm-width));
  width: calc(25px * var(--norm-width));
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  top: calc(26px * var(--norm-height));
  right: 10px;

}

.displaySticker-2 {
  position: absolute;
  height: calc(25px * var(--norm-width));
  width: calc(25px * var(--norm-width));
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  top: calc(26px * var(--norm-height));
  right: 50px;
}

.displaySticker-3 {
  position: absolute;
  height: calc(25px * var(--norm-width));
  width: calc(25px * var(--norm-width));
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  top: calc(26px * var(--norm-height));
  right: 90px;
}

.displaySticker-4 {
  position: absolute;
  height: calc(25px * var(--norm-width));
  width: calc(25px * var(--norm-width));
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  top: calc(26px * var(--norm-height));
  right: 130px;
}

.displaySticker-5 {
  position: absolute;
  height: calc(25px * var(--norm-width));
  width: calc(25px * var(--norm-width));
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  top: calc(26px * var(--norm-height));
  right: 170px;
}





@media only screen and (max-height: 900px) {

  .username {
    font-size: 12px;
    line-height: 16px;
  }

  .profilePicture {
    left: 10px;

  }

  .displaySticker-1 {
    top: 24px;
    right: 10px;
  }

  .displaySticker-2 {
    top: 24px;
    right: 50px;
  }

  .displaySticker-3 {
    top: 24px;
    right: 90px;
  }

  .displaySticker-4 {
    top: 24px;
    right: 130px;
  }

  .displaySticker-5 {
    top: 24px;
    right: 170px;
  }


}

@media screen and (max-width: 550px) {


  .displaySticker-1 {
    max-width: 29px;
    max-height: 29px;
  }

  .displaySticker-2 {
    max-width: 29px;
    max-height: 29px;
  }

  .displaySticker-3 {
    max-width: 29px;
    max-height: 29px;
  }

  .displaySticker-4 {
    max-width: 29px;
    max-height: 29px;
  }

  .displaySticker-5 {
    max-width: 29px;
    max-height: 29px;
  }

}

