 /* .horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
}

.more-post {
  width: auto;
  height: 30px;
  cursor: pointer;
  transform: rotate(90deg);
}

.fail-safe{
  margin: 0;
  padding: 10px 0 10px 0;
  height: 50px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/* .scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
} */

/*.test {
  width: 100%;
  height: 1px;
}

.row {
  width: 100vw;
}

.mobile-padding {
  padding: 0 0 7.24vh 0;

}

.scroll {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.scroll-child {
  scroll-snap-align: start;
  scroll-snap-stop: always
}

.post-container {
  width: 100vw;
  height: calc(100vh - 7.24vh);
  margin-top: 40px;
}

.desktop-profile-display {
  position: fixed;
  top: 86px;
  right: 15vw;
}

.desktop-collection-tab {
  position: fixed;
  top: 340px;
  right: calc(15vw + 69px);
}

.desktop-collection-tab-edit {

  position: fixed;
  top: calc(5.334vh + 6vh + 65px);
  right: calc(15vw + 10px);

}

@media screen and (min-width: 550px) {
  .post-container {
    height: 79vh;
    width: calc(9 * (79vh) / 16);
    max-width: 100vw;
    margin-bottom: 6.077vh;
    margin-left: calc(100vw - 15vw - 10vw - 353px - (9 * (79vh) / 16));
    overflow: hidden;
  }
}  */

.no-margin-no-padding {
  margin: 0%;
  padding: 0%;
}



.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.feed-container {
  height: 100vh;
  width: 100vw;
}

.feed {
  float: left;
  clear: none;
}

.dashboard {
  position: fixed;
}

.post-container {
  width: 100vw;
  height: calc(100vh - 7.24vh);
}

.profile-display {
  margin-bottom: 20px;
}

.collection-tab-edit {
  transform: translate(59px, calc( -1 * (234px + 2.4444vh - 65px)));
}

.secondary-profile-display {
  margin-left: calc((100vw - 353px)/2);
  margin-bottom: 20px;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.profileNavigation {
  position: relative;
  width: 340px;
  height: 55px;
  margin-left: calc(((9 * (79vh) / 16) - 340px) / 2);
  margin-bottom: 1.22vh;
}

.backpanel {
  height: 100%;
  width: 100%;
}

.dpContainer {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: #C4C4C4;

}

.postsbuttonPanel {
  height: 100%;
  width: 100%;
}

.postsbuttonText {
  position: absolute;
  top: 22%;
  left: 52px;
}



@media screen and (min-width: 550px) {
  .post-container {
    height: 82vh;
    width: calc(375 * (79vh) / 667);
    max-width: 100vw;
    padding-bottom: 5.444vh;
    overflow: hidden;
  }

  .feed-container {
    width: calc( ( 9 * (79vh) / 16 ) + 353px + 7.43vw );
    padding-top: 5.444vh;
  }

  .dashboard {
    margin-left: calc((9 * (79vh) / 16) + 7.43vw);
    position: fixed;
  }

  /* .secondary-profile-display {
    margin-left: calc(((9 * (79vh) / 16) - 353px)/2);
  } */
}




/* .dashboard {
  width: 50%;
} */
