.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
}

.more-post {
  width: auto;
  height: 30px;
  cursor: pointer;
  transform: rotate(90deg);
}

.fail-safe{
  margin: 0;
  padding: 10px 0 10px 0;
  height: 50px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/* .scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
} */

.test {
  width: 100%;
  height: 1px;
}

.row {
  width: 100vw;
}

.mobile-padding {
  padding: 0 0 7.24vh 0;

}

.scroll {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.scroll-child {
  scroll-snap-align: start;
  scroll-snap-stop: always
}

.post-container {
  width: 100vw;
  height: calc(100vh - 7.24vh);
  margin-top: 5.334vh;
}

.desktop-profile-display {
  position: fixed;
  top: calc(5.334vh + 6vh);
  right: 14.652vw;
}


@media screen and (min-width: 550px) {
  .post-container {
    height: 77vh;
    width: calc(9 * (77vh) / 16);
    max-width: 100vw;
    /* border-radius: 1.67vh; */
    margin-bottom: 6.777vh;
    margin-left: 27.361vw;
    overflow: hidden;
  }
}
