<div class="main-container">
  <div class="feed-container">
    <div class="feed">
      <div *ngIf='mobileCheck' class="secondary-profile-display">
        <app-profile-display  [uid$]='uid$' *ngIf='showProfileDisplay'></app-profile-display>
      </div>
      <div *ngIf="feedList$ | async; let posts; else loader">
        <div class="post-container" *ngFor="let postDetails of posts; let i = index;" #post>
          <app-post [postDetails]="postDetails" [postFocus]='i === postNumber'> </app-post>
        </div>
        <div *ngIf="!done" class="fail-safe">
          <img src= "assets/icons/nextArrow.svg" alt="more posts" class="horizontal-center more-post" (click)="moreBatch()">
        </div>
      </div>
      <ng-template #loader>
        <app-loading-spinner [ngClass]='{"center-absolute": mobileCheck}'></app-loading-spinner>
      </ng-template>
    </div>
    <div class='feed dashboard' *ngIf='!mobileCheck' >
      <div class='profile-display'>
        <app-profile-display [uid$]='uid$'></app-profile-display>
      </div>
      <div [ngClass]='{"collection-tab-edit": profileStickerEdit}'>
        <app-collection-tab ></app-collection-tab>
      </div>
    </div>
  </div>

</div>
