.extra-margin {
  width:100%;
  height:54px;
}

.no-margin-no-padding {
  margin: 0%;
  padding: 0%;
}

.first-post-gap-phone {
    display: none;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.post-container {
  height: auto;
  width: 550px;
  margin-bottom: 5.444vh;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.no-posts {
  height: 60vh;
}


.nopostsPlaceholder {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.deletedPostPlaceholder {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  background: rgba(34, 34, 34, 0.6);
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.6));
  border-radius: 10px;

}

.deletedPostPlaceholder > span {

  display: flex;
  flex-direction: row;
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #FFFFFF;

}

.deletionReason {

  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-top: 18px;

}

.feed-container {
  width: 953px;
  padding-top: 5.444vh;
}

.dashboard {
  margin-left: 600px;
  position: fixed;
}


.feed {
  float: left;
  clear: none;
}

.dashboard {
  position: fixed;
}

.profile-display {
  margin-bottom: 20px;
}

.collection-tab-edit {
  -webkit-transform: translate(59px, -180px);
      -ms-transform: translate(59px, -180px);
          transform: translate(59px, -180px);
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.profileNavigation {
  position: relative;
  width: 340px;
  height: 55px;
  margin-bottom: 1.22vh;
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

.backpanel {
  height: 100%;
  width: 100%;
}

.backpanel > div {
  outline: 0;
  cursor: pointer;
}

.dpContainer {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: #C4C4C4;
  overflow: hidden;
}

.dpContainer > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.dpContainer-bck {
  background-color:transparent;
}

.dpContainer-active {
  border: 2px solid #E2B33D;
}

.postsbuttonPanel {
  height: 100%;
  width: 100%;
}

.postsbuttonText {
  position: absolute;
  top: 22%;
  left: 52px;
}

.fail-safe {

  margin-top: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;

}

.fail-safe > img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}



@media only screen and (max-width: 950px) {

  .feed {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }

  .feed-container {
    width: 550px;
  }

  .profileNavigation {
    margin-left: unset;
    transform: unset;
  }

  .feed-container {
    display: grid;
    place-items: center;
  }


}



@media screen and (max-width: 550px) {

  .post-container {
    width: 100vw;
    height: auto;
    margin-bottom: 2%;
  }

  .no-posts {
    height: 100vh;
  }

  .feed-container {
    height: 100vh;
    width: 100vw;
    padding-top: unset;
  }

  .feed {
    padding-bottom: 54px;
  }

  .no-posts {
    height: 80vh;
  }

  .first-post-gap-phone {
    display: inline-block;
    width: 100vw;
    height: 10vh;
    display: grid;
    place-items: center;
    background-color: #030303;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
  }

  .placeholderSizing {
    height: 70%;
  }

  .profileNavigation {
    margin-left: unset;
    transform: unset;
  }

}
