<div class="container">
  <div class="row" align="center">
    <div class="col-md-12">
      <div *ngIf="feedList$ | async; let posts">
        <app-post class="post" *ngFor="let postDetails of posts" [postDetails]="postDetails"> </app-post>
        <p *ngIf="done">Thats all folks!</p>
      </div>
      <div *ngIf="loading || !feedList$" style="text-align: center;" class="horizontal-center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="!done && !loading" class="fail-safe">
        <img [src]="addIcon" alt="more posts" class="horizontal-center more-post" (click)="moreBatch()">
      </div>
    </div>
  </div>
</div>

