:root {
  --norm-width: 1;
  --norm-height: 1;
}

.master-container{
  height:100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.dashboard-mobile  {
  height:100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.spacing {
  padding-top: 54px;
}

.dashboard-bck-mobile {
  opacity: 0.3;
}

.profile-display-mobile {
  margin-bottom: 20px;
}

.show-dashboard {
  display: block;
}

.hide-dashboard {
  display: none;
}

.body-no-scroll {
  overflow: hidden;
  position: fixed;
}

.route {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {

  .feed-mobile {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }

  .collection-tab-edit-mobile {
    -webkit-transform: translate(24.33px, -180px);
        -ms-transform: translate(24.33px, -180px);
            transform: translate(24.33px, -180px);
  }

  .profile-display-mobile {
    margin-top: 84px;
  }
}

@media screen and (max-width: 550px) {
  .spacing {
    padding-top: unset;
  }

  .profile-display-mobile {
    margin-top: 30px;
  }
}
