<div class="scroll" 
  (window:resize)="onResize()" 
  scrollable
  (scrollPosition)="scrollHandler($event)" #fs>

  <div class="container outlet-margin" 
      *ngIf="currentRoute != '/tutorial'; else tutorial">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>

  <ng-template #tutorial>
  <router-outlet></router-outlet>
  </ng-template>


  <div *ngIf="!mobileCheck">
  <app-header ></app-header>
  </div>

  <div style="margin-top: 0px;" *ngIf="mobileCheck">
  <app-navbar></app-navbar>
  </div>
</div>

