<div class="master-container"
  (window:resize)="onResize()"
  (window:scroll)="onWindowScroll($event)">

  <div [ngClass]='!mobileCheck ? "header-padding" : null'>
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="popUpVal | async as value;">
    <app-pop-up [message]='value.message'
                [primary]='value.primary'
                [secondary]='value.secondary'
                [active]='value.active'
                [route]='value.route'></app-pop-up>
  </div>

  <div>
    <app-header ></app-header>
  </div>

</div>

