<div class = "collection" (click)='navigate()'>

    <div class="postSticker" [ngClass]="{'sticker-bck': !(stickerContent$ | async)}">
        
            <img *ngIf='(stickerContent$ | async) as content;'
                  [src]='content'
                  alt="sticker"
                  appLazyImg>
    
    </div>

    <div class="detailsSpace">

        <div class="postTitle" *ngIf='(postDetails$ | async) as details;'
        [ngClass]='{"selectedSticker-title": stickerSelected()}'>
            <span>
                {{details.title}}
            </span>
        </div>

        <div class="creatorName" *ngIf='(username$ | async) as info'
        [ngClass]='{"selectedSticker-title": stickerSelected()}'
        (click)='usernameClick()'>
            <span>{{info.username}}</span>
        </div>


    </div>



</div>
