<div class = "collection" (click)='navigate()'>

    <div class = "row no-margin-no-padding collectionBackpanel">

        <div class = "col-2 no-margin-no-padding postSticker">
            <div class = "stickerContainer">
              <img *ngIf='(stickerContent$ | async) as content;' [src]='content'
                    alt="sticker">
            </div>
        </div>

        <div class = "col-10 no-margin-no-padding postDetails" *ngIf='(postDetails$ | async) as details;'>

            <div class = "row no-margin-no-padding postTitle">
                <p class = "title no-margin-no-padding">{{details.title}}</p>
            </div>

            <div class = "row no-margin-no-padding creatorName">
                <p class = "name">{{(setUpUser(details.uid) | async).username}}</p>
            </div>

        </div>

    </div>

</div>
