<div class = "collection" (click)='navigate()'>

    <!-- <div class = "row no-margin-no-padding collectionBackpanel">

        <div class = "col-2 no-margin-no-padding postSticker">
            <div class = "stickerContainer" [ngClass]="{'sticker-bck': !(stickerContent$ | async)}">
              <img *ngIf='(stickerContent$ | async) as content;'
                    [src]='content'
                    alt="sticker"
                    appLazyImg>
            </div>
        </div>

        <div class = "col-10 no-margin-no-padding postDetails"
             *ngIf='(postDetails$ | async) as details;'>

            <div class = "no-margin-no-padding postTitle">
                <p class = "title no-margin-no-padding"
                   [ngClass]='{"selectedSticker-title": stickerSelected()}'>{{details.title}}</p>
            </div>

            <div class = "row no-margin-no-padding creatorName">
              <p class = "name"
                *ngIf='(username$ | async) as info'
                [ngClass]='{"selectedSticker-title": stickerSelected()}'
                (click)='usernameClick()'>
                    {{info.username}}
               </p>
            </div>

        </div>

    </div> -->

    <div class="postSticker" [ngClass]="{'sticker-bck': !(stickerContent$ | async)}">
        
            <img *ngIf='(stickerContent$ | async) as content;'
                  [src]='content'
                  alt="sticker"
                  appLazyImg>
    
    </div>

    <div class="detailsSpace">

        <div class="postTitle" *ngIf='(postDetails$ | async) as details;'
        [ngClass]='{"selectedSticker-title": stickerSelected()}'>
            <span>
                {{details.title}}
            </span>
        </div>

        <div class="creatorName" *ngIf='(username$ | async) as info'
        [ngClass]='{"selectedSticker-title": stickerSelected()}'
        (click)='usernameClick()'>
            <span>{{info.username}}</span>
        </div>


    </div>



</div>
