p {
  margin-bottom: 4%;
}

.no-margin-no-padding {
  margin: 0%;
  padding: 0%;
}

.titleTop {
  height: auto;
  width: 100%;
  min-height: 38px;
}

.postContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  box-shadow: 2px 12px 8px rgba(0, 0, 0, 0.4);
}

.postContent {
  width: 100%;
  min-height: calc(400px * var(--norm-height));
  max-height: calc(800px * var(--norm-height));
  background-color: #C4C4C4;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.postTitle {
  width: 90%;
  padding-left: calc(11px * var(--norm-width));
  padding-top: calc(10px * var(--norm-height));
  font-family: 'ChampagneAndLimousines';
  font-style: normal;
  font-weight: bold;
  font-size: calc(20px * var(--norm-height));
  line-height: calc(23px * var(--norm-height));
  color: rgba(255, 255, 255, 0.9);
  word-wrap: break-word;
}

/* below are changes */
.postTitle > p {
  cursor: pointer;
}

.dropdownButton {

  position: absolute;
  width: calc(20.95px * var(--norm-width));
  height: calc(21.99px * var(--norm-height));
  right: calc(5px * var(--norm-width));
  top: calc(6.8px * var(--norm-height));

}

/* below are changes */
.dropdownButton > img {
  cursor: pointer;
}

.postSticker {
  position: absolute;
  bottom: calc(10px * var(--norm-height));
  right: calc(10px * var(--norm-height));
  height: calc(75px * var(--norm-width));
  width: calc(75px * var(--norm-width));
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  background-color: #0b0b0b;
  /* below are changes */
  overflow: hidden;
}

.engagementBar {
  position: absolute;
  top: 0px;
  height: 6px;
  width: 80%;
  background-color: #E2B33D;
  overflow: hidden;
}

.postDescription {
  height: 25%;
  width: 95%;
  padding-left: 2.5%;
  padding-top: calc(14px * var(--norm-height));
  font-family: 'ChampagneAndLimousines';
  font-style: normal;
  font-weight: bold;
  font-size: calc(18px * var(--norm-height));
  line-height: calc(20px * var(--norm-height));
  color: rgba(255, 255, 255, 0.9);
  word-wrap: break-word;
  /* below are changes */
  position: relative;
}



.postMetrics {

  height: 4.8vh;
  width: 12vh;
  bottom: calc(24px * var(--norm-height));
  position: absolute;
  left: 1%;


}

.metricsSymbols {

  height: 60%;
  width: 100%;
  text-align: center;

}

.metricLabels {
  height: 40%;
  width: 100%;
  font-size: 1.6vh;
  text-align: center;
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  color: #ffffff;  
}

.sizeSVG{

  height: 2.0vh;
  width: auto;

}

.metricsNumbers {

  height: 40%;
  width: 100%;
  font-size: 1.4vh;
  text-align: center;
  padding-top: 1%;
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  color: #ffffff;

}

.holderList {
  width: calc(360px * var(--norm-width));
  max-width: 320px;
  height: 70%;
  max-height: 360px;
  border-radius: 10px;
  background: rgba(11, 11, 11, 0.90);
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

}

.holderlistTitle {

  height: 20px;
  font-size: calc(16px * var(--norm-height));
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #E2B33D;
  padding-left: 12px;
  padding-bottom: 25px;
  padding-top: 5px;
  line-height: calc(24px * var(--norm-height));


}

.holderSpace {
 
  padding-top: 20px;
  margin:0%;
  padding: 0%;
  overflow-y: scroll;
  width: 100%;
  height: 90%;

  
}

li {
  list-style: none;
  height: 60px;
  width: 98%;
  margin-left: 1%;
}

/* below are changes */

.post-content {
  margin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.fail-safe {
  width: 30%;
  height: auto;
  cursor:pointer;
}

.fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

/* changes end */


.postSticker-bck {
  background-color: #8F8F8F;
}

.postSticker > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  }

@media only screen and (max-height: 900px) {

  .postTitle {
    padding-left: 11px;
    padding-top: 10px;
    line-height: 18px;
    font-size: 18px;
  }

  .dropdownButton {
    width: 17px;
    height: 18px;
    top: 6px;
    right: 5px;
  }

  .engagementBar {
    height: 6px;
  }

  .holderlistTitle {
    font-size: 14px;
  }
 
  .postDescription {
    font-size: 14px;
  }
}

@media only screen and (max-width:550px) {

  .titleTop {
    min-height: 28px;
  }

  .engagementBar {
    height: 6px;
  }

  .postContent {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: calc((100vh * (3 / 5)) - 54px);
    max-height: calc(100vh - 54px);
  }

  .postSticker {
    max-width: 76px;
    max-height: 76px;
  }

  .postMetrics {

    bottom: calc(18px * var(--norm-height));

  }

}

/* Animations */

.loading-ball {

  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(312.52deg, #E2B33D 14.56%, rgba(226, 179, 61, 0) 84.46%);
  background-image: linear-gradient(137.48deg, #E2B33D 14.56%, rgba(226, 179, 61, 0) 84.46%);
  border-radius: 50%;
  -webkit-animation: loading-bounce 1s linear infinite;
          animation: loading-bounce 1s linear infinite;
  position: absolute;
  top: 0%;
  left: 0%;


}

.confirm-ball {

  -webkit-animation: confirm-bounce 2.6s ;

          animation: confirm-bounce 2.6s ;
  border-radius: 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.reject-ball {


  border-radius: 50%;
  -webkit-animation: reject-bounce 2.6s ;
          animation: reject-bounce 2.6s ;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}


@-webkit-keyframes loading-bounce {
0%, 100% {
  -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
          animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
}
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
50% {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}


@keyframes loading-bounce {
0%, 100% {
  -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
          animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
}
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
50% {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

@-webkit-keyframes confirm-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color: #19812F;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  }


}

@keyframes confirm-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color: #19812F;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  }


}

@-webkit-keyframes reject-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color:#CF263C;;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reject-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color:#CF263C;;;
    height: 0%;
    width: 0%;
    opacity: 1;
  }
  50% {
    height: 50%;
    width: 50%;
  }
  70% {
      height: 100%;
      width: 100%;
  }
  100% {
    opacity: 0;
  }
}

/* Rotate Down for postDetails Button */
.rotate-90-ccw {
  -webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

/* Rotate to original for postDetails Button */

.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/* fade-in-top for postDetails and opacity */

.fade-in-top {
  -webkit-animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  /* width: 100%; */
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Opacity in for opening post details */


.opacity-in-details {
  -webkit-animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-in{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


@keyframes opacity-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.opacity-out-details {
  -webkit-animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-out{
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


@keyframes opacity-out {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
