p {
  margin-bottom: 4%;
}

.no-margin-no-padding {
  margin: 0%;
  padding: 0%;
}

.creatorDetails {
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.creatorDP {
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms ease;
}

.creatorDP > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.creatorName {
  width: calc(100% - 235px);
  height: auto;
  font-family: 'Assistant', sans-serif;
  font-style: 16px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  position: absolute;
  top: 14px;
  left: 58px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 250ms ease;
}

.timeCreated {
  width: calc(100% - 235px);
  height: 16px;
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  position: absolute;
  top: 31px;
  left: 58px;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

.displaySticker {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.displaySticker-bck {
  background-color: #FFFFFF;
}

.stickerOne {
  position: absolute;
  top: 18px;
  right: 8px;
}

.stickerTwo {
  position: absolute;
  top: 18px;
  right: 44px;
}

.stickerThree {
  position: absolute;
  top: 18px;
  right: 80px;
}

.stickerFour {
  position: absolute;
  top: 18px;
  right: 116px;
}

.stickerFive {
  position: absolute;
  top: 18px;
  right: 152px;
}

.titleTop {
  height: auto;
  width: 100%;
}

.forHoverPurposes {
  height: auto;
  width: calc(100% - 178px);
}

.postContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  background-color: #030303;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.postContent {
  width: 100%;
  min-height: calc(400px * var(--norm-height));
  max-height: calc(800px * var(--norm-height));
  background-color: #C4C4C4;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.postTitle {
  width: 90%;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 14px;
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 18px;
  color: rgba(255, 255, 255);
  word-wrap: break-word;
  display: inline-block;
}

/* below are changes */
.postTitle > p {
  cursor: pointer;
}

.dropdownButton {

  display: inline-block;
  width: 10%;
  height: auto;
  margin-top: 3px;

}

/* below are changes */
.dropdownButton > img {
  cursor: pointer;
  width: 16px;
  height: auto;
  margin-left: calc(100% - 28px);
  margin-bottom: 2px;
}

.engagementBar {
  position: relative;
  top: 0px;
  height: 3px;
  width: calc(100% - 10px);
}

.realEngagementBar {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
}

.holderList {
  width: calc(360px * var(--norm-width));
  max-width: 320px;
  min-width: 315px;
  height: 70%;
  max-height: 360px;
  border-radius: 10px;
  background: rgba(3, 3, 3, 0.90);
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  min-width: 300px;
  margin-top: 15%;

}

.holderlistTitle {

  height: 10%;
  font-size: calc(16px * var(--norm-height));
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #E2B33D;
  padding-left: 12px;
  padding-top: 5px;

}

.holderSpace {

  padding-top: 20px;
  margin:0%;
  padding: 0%;
  overflow-y: scroll;
  width: 100%;
  height: 89%;


}

li {
  list-style: none;
  height: 60px;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 5px;
}

/* below are changes */

.post-content {
  margin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.fail-safe {
  width: 50px;
  height: auto;
  cursor:pointer;
}

.fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.detailsContainer {
  height: auto;
  min-height: 102px;
  width: 100%;
  background: #030303;
  border-radius: 0px 0px 4px 4px;
  display: flex;
}

.postDetailsExp {
  width: calc(100% - 92px);
  margin-top: 12px;
  display: inline-block;
}

.postViewsExp {
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 14px;
  align-items: center;
  color: rgba(255, 255, 255, 0.95);;
  
}

.spacer {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 1px;
  padding-right: 1px;
}

.postHoldersExp {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  align-items: center;
  color: rgba(255, 255, 255, 0.95);;
}

.postDescriptionExp {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  min-height: 66px;
  padding-left: 1px;
  padding-right: 5px;
  word-wrap: break-word;
  margin-bottom: 10px;
}


.postStickerExp {
  width: 90px;
  padding-bottom: 4px;
  display: inline-block;
}

.postMetricsExp {
  margin-top: 6px;
  padding-left: 1px;
  margin-bottom: 2px;
}

.postStickerHolderExp {

  height: 70px;
  width: 70px;
  margin-top: 1px;
  margin-left: 1px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.postStickerHolderExp-bck {

  background-color: #FFFFFF;

}

.postStickerHolderExp > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  }

.postStickerHolderOutline {
  margin-top: 10px;
  height: 72px;
  width: 72px;
  background-color: #000000;
  display: flex;
  border-radius: 50%;
  float: right;
  margin-right: 10px;
  transition: transform 250ms;
}

.collectPrompt {
  
  width: 65px;
  height: 22px;
  border-radius: 5px;
  background: #030303;
  border: 1px solid #FFFFFF;
  margin-top: 6px;
  margin-bottom: 8px;
  float: right;
  margin-right: 13px;
  display: grid;
  place-items: center;  
  transition: background-color 250ms ease;
  
}

.promptText {
  
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  transition: color 250ms ease;
  
}

.postSticker-bck {
  background-color: #8F8F8F;
}

.postSticker > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
  }

@media only screen and (max-height: 900px) {

  .holderlistTitle {
    font-size: 14px;
  }

}

@media only screen and (max-width:550px) {

  .titleTop {
    min-height: 28px;
  }

  .postContainer {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .postContent {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: calc((100vh * (3 / 5)) - 54px);
    max-height: calc(100vh - 54px);
  }

  .realEngagementBar {
    height: 3px;
  }

  .postDescriptionExp {
    padding-left: 0px;
  }

  .postMetricsExp {
    padding-left: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
  }


}


/* Animations */

.loading-ball {

  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(312.52deg, #E2B33D 14.56%, rgba(226, 179, 61, 0) 84.46%);
  background-image: linear-gradient(137.48deg, #E2B33D 14.56%, rgba(226, 179, 61, 0) 84.46%);
  border-radius: 50%;
  -webkit-animation: loading-bounce 1s linear infinite;
          animation: loading-bounce 1s linear infinite;
  position: absolute;
  top: 0%;
  left: 0%;


}

.confirm-ball {

  -webkit-animation: confirm-bounce 2.6s ;

          animation: confirm-bounce 2.6s ;
  border-radius: 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.reject-ball {


  border-radius: 50%;
  -webkit-animation: reject-bounce 2.6s ;
          animation: reject-bounce 2.6s ;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}


@-webkit-keyframes loading-bounce {
0%, 100% {
  -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
          animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
}
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
50% {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}


@keyframes loading-bounce {
0%, 100% {
  -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
          animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
}
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
50% {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

@-webkit-keyframes confirm-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color: #19812F;;
    height: 0px;
    width: 0px;
  }
  50% {
    height: 45px;
    width: 45px;
  }
  70% {
      height: 60px;
      width: 60px;
      opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    opacity: 0;
  }


}

@keyframes confirm-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color: #19812F;;
    height: 0px;
    width: 0px;
  }
  50% {
    height: 45px;
    width: 45px;
  }
  70% {
      height: 60px;
      width: 60px;
      opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    opacity: 0;
  }


}

@-webkit-keyframes reject-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color:#CF263C;;;
    height: 0px;
    width: 0px;
  }
  50% {
    height: 45px;
    width: 45px;
  }
  70% {
      height: 60px;
      width: 60px;
      opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes reject-bounce {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.45,0,0.9,0.55);
            animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    background-color:#CF263C;;;
    height: 0px;
    width: 0px;
  }
  50% {
    height: 45px;
    width: 45px;
  }
  70% {
      height: 60px;
      width: 60px;
      opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Rotate Down for postDetails Button */
.rotate-90-ccw {
  -webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

/* Rotate to original for postDetails Button */

.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/* fade-in-top for postDetails and opacity */

.fade-in-top {
  -webkit-animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  /* width: 100%; */
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Opacity in for opening post details */


.opacity-in-details {
  -webkit-animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-in{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


@keyframes opacity-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.opacity-out-details {
  -webkit-animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-out{
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


@keyframes opacity-out {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Buffering Animation */

.buffering-ring {
  width: 80px;
  height: 80px;
}
.buffering-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  animation: buffering-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FFFFFF transparent transparent transparent;
}
.buffering-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.buffering-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.buffering-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes buffering-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (hover: hover) and (pointer: fine) {

  .postStickerExp:hover .postStickerHolderOutline {

    transform: translateY(-5px);
  
  }

  .postStickerExp:hover .collectPrompt {

    background: #E2B33D;
    border: none

  }

  .postStickerExp:hover .promptText {
    color: #FFFFFF;
  }

  .forHoverPurposes:hover .creatorName{
    color: #E2B33D;
  }

  .forHoverPurposes:hover .creatorDP {
    box-shadow: 0 0 0 1px #E2B33D;
  }

}


