.no-margin-no-padding {
  margin: 0%;
  padding: 0%;
}

.descriptionSpace {
  height: 30%;
  width: 100%;
  margin-top: 9%;
}

.description {
  font: 'ChampagneAndLimousines';
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: absolute;
  top: 0%;
  left: 0%;
}


li {
  list-style: none;
  height: 17.24%;
  width: 100%;
  margin-bottom: 3.8%;
}

.holderList {
  width: 100%;
  height: 60%;
  margin-top: 3%; 
}

.holderListTitle {
  width: 100%;
  height: 10.38%;
  background: #0B0B0B;
  border-bottom: 1px solid #000000;
  border-radius: 16px 16px 0px 0px;
  display: grid;
  place-items: center;
}

.holderTitle {
  font-size: 100%;
  letter-spacing: 0.1em;
  font-family: 'Comfortaa';
  font-weight: bold;
}

.holderListScrollSpace {
  height: 89.62%;
  background: rgba(11, 11, 11, 0.98);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.listScrollSpace {
  height: 100%;
  width: 100%;
  padding-left: 2.8%;
  padding-right: 2.8%;
  padding-top: 1.98%;
  padding-bottom: 1.98%;
}


.postContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
}

.post-content {
  margin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.postDetails {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4.8vh 4vw 15% 4vw;
  font-family: 'ChampagneAndLimousines';
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.postMetrics {

  height: 4.8vh;
  width: 10vh;
  top: 85.5%;
  position: absolute;
  left: 1%;

}

.metricsSymbols {

  height: 60%;
  width: 100%;
  text-align: center;

}

.sizeSVG{
  
  height: 2.0vh;
  width: auto;

}

.metricsNumbers {

  height: 40%;
  width: 100%;
  font-size: 1.4vh;
  text-align: center;

}

.postTitle{
  font-size: 2.33vh;
  font-weight: 700;
  letter-spacing: 0em;
  width:auto;
  text-align: left;
  line-height: normal;
  color: #FFFFFF;
}

.pointer {
  cursor: pointer;
}

.showDetails {
  margin-top: 0.5vh;
  height: 18px;
  width: 20px;
  position: relative;
}

.showDetails > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}





.height-auto {
  height: auto;
}


.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.textFontSize {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0em;
}

.fail-safe {
  width: 30%;
  height: auto;
  position: relative;
  top: 40%;
  cursor:pointer;
}

.fail-safe > img {
  width: 100%;
  height: auto;
}


/* Animations */

/* Rotate Down for postDetails Button */
.rotate-90-ccw {
	-webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

/* Rotate to original for postDetails Button */

.rotate-90-cw {
	-webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/* fade-in-top for postDetails and opacity */

.fade-in-top {
	-webkit-animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
  height: 100%;
  width: 100%;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Opacity in for opening post details */


.opacity-in-details {
	-webkit-animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: opacity-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-in{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


@keyframes opacity-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.opacity-out-details {
	-webkit-animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: opacity-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes opacity-out{
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


@keyframes opacity-out {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 550px) {

  .postContainer {
    border-top: 2.8888vh solid #0B0B0B;;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
  }

  .postDetails {
    padding: 4.8% 4% 15% 4%;
  }
}

