<div class="topPanel">

    <div class="dpContainer">

    </div>

    <div class="profileDetails">

        <div class="userName">

            <span>LorEmIpsUm</span>

        </div>

        <div class="fullName">

            <span>Cecil Adamsam</span>

        </div>

    </div>

    <div class="displaySticker">

        <div class="sticker">

        </div>

        <div class="sticker">

        </div>

        <div class="sticker">

        </div>

        <div class="sticker">

        </div>

        <div class="sticker">

        </div>

    </div>



</div>

<div class="infoPanel">

    
    <div class="metrics">

        <!-- Views -->
        <div class="metric">

            <div class="metricNumbers">
                <span>235 K</span>
            </div>

            <div class="metricText">
                <span>Views</span>
            </div>

        </div>

        <!-- Collectors -->
        <div class="metric">

            <div class="metricNumbers">
                <span>450</span>
            </div>

            <div class="metricText">
                <span>Collectors</span>
            </div>

        </div>

    </div>

    <div class="button editProfile">

        <span> Edit Profile</span>

    </div>

    <div class="link">

        <span>bit.biglink.ly/username</span>

    </div>

    <div class="description">

        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in orci sed metus molestie malesuada. Aliquam suscipit elementum eros egestas efficitur. Donec felis arcu, elementum in bibendum vel, sagittis id diam. Curabitur convallis purus at quam venenatis, vel rutrum nibh sagittis.</span>

    </div>

    <div class="joiningDate">

        <div class="joinedText">
            <span class = "joinText">Joined</span>
        </div>

        <div class="joinDate">
            <span class = "joinText">Jan 2020</span>
        </div>

    </div>

</div>

<div class="divider dividerNotUser">


    <div class = "buttonHighlightPosts">

    </div>


</div>

<div class="toggleButton buttonActive buttonNotUser postsButton"> 

    <span>Posts</span>

</div>

<div class="toggleButton buttonInactive collectionButton">

    <span>Collection</span>

</div>


