<div *ngIf="isSaving" style="text-align: center;" class="horizontal-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<form #f='ngForm' (ngSubmit)="onSubmit(f)" *ngIf="!isFetching && !isSaving" class="horizontal-center">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <!-- Account details -->
          <div class="row">
            <div class="col-md">
              <div class="inputFields">
                <label class="field" for="dp">Profile picture</label>
                <div class="col-md" style="position: relative;">
                  <div class="file-input-container">
                    <input
                    type="file"
                    id="postFile"
                    class="form-control-file float-center"
                    accept="image/x-png,image/gif,image/jpeg"
                    (change)="fileUpload($event)"
                    (click)="touched=true"
                    name="content"
                    #dpInput>
                  </div>
                  <div class="storySignifier" style="margin-top: 10.8px">
                    <div class="dpBackground">
                      <div class="dpBorder">
                        <img
                          [src]="profile.displayPicture ? profile.displayPicture.content : dpSrc"
                          alt="profile picture"
                          height="100%"
                          [ngStyle]="{'height': imageProp.height, 'width': imageProp.width}"
                          (load)="onLoad($event)">
                          <!-- Add icon -->
                        <img [src]="addIcon"
                             alt="add"
                             class="add-icon"
                             (click)="onAddClick('content')"
                             style="width: 50px; height: 50px; cursor: pointer;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Description -->
          <div class="row" style="margin-top: 30px;">
            <div class="col-12">
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label class="heading" for="accountDetails">Description</label>
                  </div>
                </div>
                <div class="row" style="margin-top: 10.8px">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">
                        <input
                            type="text"
                            id="Title"
                            class="form-control"
                            [(ngModel)]="title"
                            name="occupation"
                            placeholder="Title/Description"
                            maxlength="15"
                            style="margin-top: 0px; margin-bottom: 20px">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <input
                            type="text"
                            id="Location"
                            class="form-control"
                            [(ngModel)]="location"
                            name="location"
                            placeholder="Location"
                            maxlength="15"
                            style="margin-top: 0px; margin-bottom: 20px">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <input
                            type="text"
                            id="content"
                            class="form-control"
                            [(ngModel)]="content"
                            name="content"
                            placeholder="About you"
                            maxlength="90"
                            style="margin-top: 0px; margin-bottom: 20px">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Stickers -->
          <div class="row">
            <div class="col-12">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label class="heading" for="accountDetails">Collection</label>
                </div>
              </div>
              <div class="row" style="margin-top: 10.8px">
                <div class="col-12">
                  <div class="stickerSelect">
                    <ul class="list-group"
                        *ngFor="let option of collectionList; let i = index">
                      <li class="list-group-item"
                          (click)="onStickerClick(option)"
                          style="cursor: pointer; display: inline;"
                          [ngStyle]="{'background': option.colour}">
                        <div class="row">
                          <div class="col-1">
                            <div class="sticker"
                             style="width: 30px; height: 30px;">
                              <img [src]='option.posts.post.stickerContent ? option.posts.post.stickerContent.sticker : dpSrc'
                               alt="sticker"
                               #sticker
                               [ngStyle]="setUpStickerSize(sticker)"
                              >
                            </div>
                          </div>
                          <div class="col-10 stickerTitle" style="padding-left: 30px; word-wrap: break-word">
                            {{option.posts.post.postDetails.title}}
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Error message -->
      <div class="row">
        <div class="col-md">
          <div class="danger-alert" *ngIf="error">
            {{ error }}
          </div>
        </div>
      </div>
      <!-- confirm -->
      <div class="row">
        <div class="col-6 offset-6">
          <button class="btn float-right">Confirm</button>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
</form>

